@model core.Service.CreaReclamoInicialModel




    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a href="../menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                <li class="breadcrumb-item"><a href="../Claims/index">@webLoyal.Resources.language.Resources.Claims</a></li>
                <li class="breadcrumb-item active" aria-current="page">@webLoyal.Resources.language.Resources.NewClaim</li>
            </ol>
            <h4 class="main-title mb-0"></h4>
        </div>
        <div class="d-flex gap-2 mt-3 mt-md-0">

           
        </div>
    </div>


<form id="CreateClaims" class="row g-3 col-12" asp-action="@nameof(ClaimsController.Create)" data-parsley-validate asp-controller="Claims" method="post">
    <div class="col-8">
        <div class="card card-one">
            <div class="card-body">

                <div class="row">
                    <div class="col-6">
                        <label class="form-label">@webLoyal.Resources.language.Resources.ClaimId</label>
                        <input asp-for="CodigoReclamo" class="form-control" id="CodigoReclamo" disabled>
                    </div>
                    <div class="col-6">
                        <label class="form-label">@webLoyal.Resources.language.Resources.RegistrationDate</label>
                        <input asp-for="@Model.FechaRegistro" type="date" class="form-control" id="FechaRegistro" disabled>
                    </div>
                    <div class="col-6">
                        <label class="form-label">@webLoyal.Resources.language.Resources.ClaimType</label>
                        <select asp-for="CodigoTipoReclamo" id="CodigoTipoReclamo" class="form-select select2">
                            @foreach (var tipoReclamo in Model.TipoReclamoDbObject.OrderBy(x => x.CodigoTipoReclamo))
                            {
                                <option class="col-md-6" value="@tipoReclamo.CodigoTipoReclamo">@tipoReclamo.DescripcionTipoReclamo</option>
                            }
                        </select>


                    </div>

                    <div class="col-6">
                        <label class="form-label">@webLoyal.Resources.language.Resources.ReportClaimDate</label>
                        <input asp-for="FechaReclamo" type="date" class="form-control" id="FechaReclamo" required>
                    </div>
                    <div class="col-6">
                        <div>
                            <label class="form-label">@webLoyal.Resources.language.Resources.OriginOfTheClaim</label>
                            <select asp-for="CodigoOrigen" id="CodigoOrigen" class="form-select select2">
                                @foreach (var OrigenReclamo in Model.OrigenDbObject.OrderBy(x => x.CodigoOrigen))
                                {
                                    <option value="@OrigenReclamo.CodigoOrigen">@OrigenReclamo.DescripcionOrigen</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div>
                            <label class="form-label">@webLoyal.Resources.language.Resources.PolicyNumber</label>
                            <select id="Poliza" asp-for="CodigoPersona" class="form-select select2" required>
                                @foreach (var Asegurados in Model.VwAseguradosDbObject.OrderBy(x => x.NumeroPoliza))
                                {
                                    <option value="@Asegurados.CodigoPersona">@Asegurados.NumeroPoliza | @Asegurados.DescripcionTipoPersonaCotizacion |@Asegurados.NombreCompleto</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div>
                            <label class="form-label">@webLoyal.Resources.language.Resources.Claims</label>
                            <textarea asp-for="DescripcionReclamo" class="form-control" id="DescripcionReclamo" rows="3" placeholder="Enter message here..." required></textarea>
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="form-label">@webLoyal.Resources.language.Resources.Provider</label>
                        <select class="form-select select2 col-12" id="Proveedor" aria-label="Example select with button addon">
                            @foreach (var ProveedorReclamo in Model.VwListarProveedoresDbObjects.OrderBy(x => x.CodigoProveedor))
                            {
                                <option value="@ProveedorReclamo.CodigoProveedor"><i class="ri-shopping-bag-3-line">@ProveedorReclamo.DescripcionEstadoProveedor | @ProveedorReclamo.RazonSocialProveedor</i> </option>
                            }
                        </select>
                        
                    </div>
                    <div class="col-12">
                        <br />
                        <div class="form-check">
                            <input asp-for="AplicaDeducible" class="form-check-input" type="checkbox" id="gridCheck2">
                            <label class="form-check-label" for="gridCheck2">
                                @webLoyal.Resources.language.Resources.DeductibleApplies
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="NotificaProveedor" class="form-check-input" type="checkbox" id="gridCheck3">
                            <label class="form-check-label" for="gridCheck3">
                                @webLoyal.Resources.language.Resources.NotifyProvider
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="NotificaTitular" class="form-check-input" type="checkbox" id="gridCheck4">
                            <label class="form-check-label" for="gridCheck4">
                                @webLoyal.Resources.language.Resources.NotifyInsured
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="NotificaAgente" class="form-check-input" type="checkbox" id="gridCheck5">
                            <label class="form-check-label" for="gridCheck5">
                                @webLoyal.Resources.language.Resources.NotifyInsuranceAgent
                            </label>
                        </div>
                    </div>

                </div>
            </div><!-- card-body -->
            <div class="card-footer">
                <div class="col-12">
                    <button id="submitButton2" type="submit" class="btn btn-primary">@webLoyal.Resources.language.Resources.Accept</button>
                </div>
            </div>
        </div>
    </div>
       
    </form>

@* <form id="CreateClaims" class="row g-3 col-12" asp-action="@nameof(ClaimsController.Create)" data-parsley-validate asp-controller="Claims" method="post">
        <div class="col-6">
        <div class="card card-one">
            <div class="card-body row">

                    <div class="accordion accordion-primary" id="accordionExampleE">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOneE">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneE" aria-expanded="true" aria-controls="collapseOneE">
                                    @webLoyal.Resources.language.Resources.ClaimInfo
                                </button>
                            </h2>
                            <div id="collapseOneE" class="accordion-collapse collapse show" aria-labelledby="headingOneE" data-bs-parent="#accordionExampleE">

                                <div class="accordion-body row">
                                    <div class="col-6">
                                        <label for="@Model.CodigoReclamo" class="form-label">@webLoyal.Resources.language.Resources.ClaimId</label>
                                        <input value="" class="form-control" disabled>
                                    </div>
                                    <div class="col-6">
                                        <label  class="form-label">@webLoyal.Resources.language.Resources.RecordDate</label>
                                        <input asp-for="FechaReclamo" type="date" required value="" class="form-control">
                                        <span asp-validation-for="FechaReclamo" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                       
                                        <label class="form-label">@webLoyal.Resources.language.Resources.ClaimType</label>
                                        <select asp-for="@Model.CodigoTipoReclamo" id="Tiporeclamo" class="form-select select2">
                                            @foreach (var tipoReclamo in Model.TipoReclamoDbObject.OrderBy(x => x.CodigoTipoReclamo) )
                                            {
                                                <option value="@tipoReclamo.CodigoTipoReclamo">@tipoReclamo.DescripcionTipoReclamo</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">@webLoyal.Resources.language.Resources.OriginOfTheClaim</label>
                                        <select asp-for="@Model.CodigoOrigen" id="Origenreclamo" class="form-select select2">
                                            @foreach (var OrigenReclamo in Model.OrigenDbObject.OrderBy(x => x.CodigoOrigen))
                                            {
                                                <option  value="@OrigenReclamo.CodigoOrigen">@OrigenReclamo.DescripcionOrigen</option>
                                            }
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwoE">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoE" aria-expanded="false" aria-controls="collapseTwoE">
                                    @webLoyal.Resources.language.Resources.PolicyHolderInformation
                                </button>
                            </h2>
                            <div id="collapseTwoE" class="accordion-collapse collapse" aria-labelledby="headingTwoE" data-bs-parent="#accordionExampleE" style="">
                                <div class="accordion-body row">
                   
                                    <div class="col-4">

                                    </div>

                                    <div class="col-12">
                                        <label class="form-label">Certificado</label>
                                        <select id="Poliza" class="form-select select2">
                                            @foreach (var Asegurados in Model.VwAseguradosDbObject.OrderBy(x => x.NumeroPoliza))
                                            {
                                                <option value="@Asegurados.NumeroPoliza">@Asegurados.NumeroPoliza | @Asegurados.DescripcionTipoPersonaCotizacion |@Asegurados.NombreCompleto</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
@*                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTreN">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetreeN" aria-expanded="false" aria-controls="collapseTwoE">
                                   @webLoyal.Resources.language.Resources.InformationOfTheAffectedOfThePolicy
                                </button>
                            </h2>
                            <div id="collapsetreeN" class="accordion-collapse collapse" aria-labelledby="headingTwoE" data-bs-parent="#accordionExampleE" style="">
                                <div class="accordion-body row">
                                    <div class="col-md-6">
                                        <label class="form-label">@webLoyal.Resources.language.Resources.Insured</label>
                                        <select id="PolizaAsegurado" class="form-select select2">

                                            <option value="000-000-0001">Titular</option>
                                            <option value="000-000-0002">Dependiente</option>

                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">@webLoyal.Resources.language.Resources.Person</label>
                                        <select id="select2F" class="form-select select2">

                                            <option value="000-000-0001">Nelson Gonzalez</option>
                                            <option value="000-000-0002">Enrique Yabrudy</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTreZ">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetreeZ" aria-expanded="false" aria-controls="collapseTwoE">
                                    @webLoyal.Resources.language.Resources.Provider
                                </button>
                            </h2>
                            <div id="collapsetreeZ" class="accordion-collapse collapse" aria-labelledby="headingTwoZ" data-bs-parent="#accordionExampleE" style="">
                                <div class="accordion-body row">
                                    <div class="input-group">
                                        <select class="form-select select2 col-12" id="Proveedor" aria-label="Example select with button addon">
                                            @foreach (var ProveedorReclamo in Model.VwListarProveedoresDbObjects.OrderBy(x => x.CodigoProveedor))
                                            {
                                                <option value="@ProveedorReclamo.CodigoProveedor"><i class="ri-shopping-bag-3-line">@ProveedorReclamo.DescripcionEstadoProveedor | @ProveedorReclamo.RazonSocialProveedor</i> </option>
                                            }
                                        </select>
                                        <button class="btn btn-outline-primary" type="button"><i class="ri-add-line"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTreX">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetreeX" aria-expanded="false" aria-controls="collapseTwoE">
                                    @webLoyal.Resources.language.Resources.Note
                                </button>
                            </h2>
                            <div id="collapsetreeX" class="accordion-collapse collapse" aria-labelledby="headingTwoZ" data-bs-parent="#accordionExampleX" style="">
                                <div class="accordion-body row">
                                    <div class="col-12">
                                        <textarea asp-for="DescripcionReclamo" class="form-control" multiline></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
*@
@*                    
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">@webLoyal.Resources.language.Resources.IC10</label>
                        <select id="select2X" class="form-select" multiple>

                            <option value="000-000-0001">
                                66982 - Extracapsular cataract removal with insertion of intraocular lens prosthesis (1-stage procedure), manual or mechanical technique (eg, irrigation and aspiration or phacoemulsification), complex, requiring devices or techniques not generally used in routine cataract surgery (eg, iris expansion device, suture support for intraocular lens, or primary posterior capsulorrhexis) or performed on patients in the amblyogenic developmental stage; without endoscopic cyclophotocoagulation
                            </option>
                            <option value="000-000-0002">
                                97110 - Therapeutic procedure, 1 or more areas, each 15 minutes; therapeutic exercises to develop strength and endurance, range of motion and flexibility
                            </option>
                            <option value="000-000-0002">
                                99221 - Hospitalizacion
                            </option>

                        </select>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress5" class="form-label">@webLoyal.Resources.language.Resources.CTP</label>
                        <select id="selectCTPX" class="form-select" multiple>

                            <option value="000-000-0001">
                                A57256


                            </option>
                            <option value="000-000-0002">
                                99281

                            </option>
                            <option value="000-000-0002">
                                47562

                            </option>

                        </select>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">
                            @webLoyal.Resources.language.Resources.Provider
                        </label>
                        <select id="select2Z" class="form-select" multiple>

                            <option value="000-000-0001">
                                Rif-J00058551-2 - Centro Médico Docente La Trinidad
                            </option>
                            <option value="000-000-0002">
                                Rif: J-00229514-7 -  Unidad Oftalmologica de Caracas
                            </option>
                            <option value="000-000-0002">
                                Rif: J-40163589-0 -  Diagnostico Integral San Ignacio
                            </option>

                        </select>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">@webLoyal.Resources.language.Resources.Note</label>
                        <textarea id="select2D" class="form-select" multiple>

                        </textarea>
                    </div>


                    
      
                  



            </div>

        </div>
           
    </div>  *@
@*         <div class="col-6">
            <div class="card">
                <div class="card-body row">
                    <div class="col-md-6">
                        <label class="form-label">@webLoyal.Resources.language.Resources.Name </label>
                        <input value="Nelson" class="form-control" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="" class="form-label">@webLoyal.Resources.language.Resources.LastName</label>
                        <input type="text" value="Gonzalez" class="form-control" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="" class="form-label">@webLoyal.Resources.language.Resources.DueDate</label>
                        <input type="datetime" value="" class="form-control" disabled>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">@webLoyal.Resources.language.Resources.Product</label>
                        <input type="text" value="Legacy" class="form-control" disabled>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">@webLoyal.Resources.language.Resources.NotesHistory</label>
                        <textarea id="select2D" class="form-select" multiple disabled>

                        </textarea>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">@webLoyal.Resources.language.Resources.Exclusions</label>
                        <textarea id="select2D" class="form-select" multiple disabled>

                        </textarea>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">
                            @webLoyal.Resources.language.Resources.PreviousClaims
                        </label>
                        <textarea id="select2D" class="form-select" multiple disabled>

                        </textarea>
                    </div>
                 </div>
            </div>

           
        </div>

    </form>
*@
    @*<div class="accordion accordion-primary" id="">


        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThreeE">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeE" aria-expanded="false" aria-controls="collapseThreeE">
                    Accordion Item #3
                </button>
            </h2>
            <div id="collapseThreeE" class="accordion-collapse collapse" aria-labelledby="headingThreeE" data-bs-parent="#accordionExampleE" style="">
                <div class="accordion-body">
                    <p class="mb-2"><strong>This is the third item's accordion body.</strong></p>
                    <p class="mb-0">It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables.</p>
                </div>
            </div>
        </div>
    </div>
   *@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js" asp-append-version="true"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
@*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>*@
        @section Scripts{
    <script>
        $("#CreateClaims").submit(function (event) {
            event.preventDefault(); // Prevenir el comportamiento predeterminado del formulario

            var form = $(this);

            //if (form.valid()) {
            //    return;
            //}

            // Deshabilitar el botón de enviar y agregar clases para activar el spinner
            var submitButton = form.find('#submitButton2');
            submitButton.prop('disabled', true);
            submitButton.addClass('btn btn-primary');
            submitButton.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> &nbsp;Loading...');

            // Mostrar un mensaje de carga con SweetAlert
            Swal.fire({
                title: 'Procesando',
                text: 'Espere un momento...',
                icon: 'info',
                showConfirmButton: false,
                allowOutsideClick: false,
                timer: 2000 // Duración de espera en milisegundos (en este caso, 2 segundos)
            }).then(function () {
                // Llamar a tu método AJAX
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(), // Serializar los datos del formulario
                    success: function (result) {
                        if (result.success) {
                            // Mostrar el mensaje de confirmación sin botón de acción
                            Swal.fire({
                                title: result.title,
                                text: result.text,
                                icon: result.icon,
                                showConfirmButton: false,
                                allowOutsideClick: false,
                                timer: 2000 // Duración de espera en milisegundos antes de redireccionar (en este caso, 2 segundos)
                            }).then(function () {
                                // Redireccionar
                                window.location.href = "/Claims/index";
                            });
                        } else {
                            Swal.fire(result.title, result.message, result.type);
                        }
                    },
                    error: function () {
                        Swal.fire(result.title, result.message, result.type);
                    },
                    complete: function () {
                        // Habilitar el botón de enviar después de completar la solicitud y eliminar el spinner
                        submitButton.prop('disabled', false);
                        submitButton.removeClass('');
                        submitButton.html('Aceptar');
                    }
                });
            });
        });

        $('#CodigoTipoReclamo').select2({
            placeholder: 'Choose one'
        });

        $('#CodigoOrigen').select2({
            placeholder: 'Choose one'
        });
        $('#Proveedor').select2({
            placeholder: 'Choose one'
        });
        $('#Poliza').select2({
            placeholder: 'Choose one'
        });

        //$('#select2Z2').one('select2:open', function (e) {
        //    $('input.select2-search__field').prop('placeholder', 'Search...');
        //});


        //$('#select2Z').one('select2:open', function (e) {
        //    $('input.select2-search__field').prop('placeholder', 'Search...');
        //});  
        //$('#select2F').select2({
        //    placeholder: 'Choose one'
        //});

        //$('#Tiporeclamo2').one('select2:open', function (e) {
        //    $('input.select2-search__field').prop('placeholder', 'Search...');
        //});
        //$('#select2G').select2({
        //    placeholder: 'Choose one'
        //});

        //$('#select2G').one('select2:open', function (e) {
        //    $('input.select2-search__field').prop('placeholder', 'Search...');
        //});      
        //$('#select2E').select2({
        //    placeholder: 'Choose one'
        //});
        //$('#selectCTPX').select2({
        //    placeholder: 'Choose one'
        //});

        //$('#select2E').one('select2:open', function (e) {
        //    $('input.select2-search__field').prop('placeholder', 'Search...');
        //});
        //$('#select2D').select2({
        //    placeholder: 'Choose multiple',
        //    minimumResultsForSearch: Infinity
        //});
        //$('#select2X').one('select2:open', function (e) {
        //    $('input.select2-search__field').prop('placeholder', 'Search...');
        //});
        //$('#select2X').select2({
        //    placeholder: 'Choose multiple',
        //    minimumResultsForSearch: Infinity
        //});

        
            </script>

        }