@model List<core.Service.ListarReclamosModel>;

    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a href="~/menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                <li class="breadcrumb-item active" aria-current="page">@webLoyal.Resources.language.Resources.ClaimsHistory</li>
            </ol>
            <h4 class="main-title mb-0"></h4>
        </div>
        <div class="d-flex gap-2 mt-3 mt-md-0">
            <a href="~/Claims/Create" type="button" class="btn btn-primary d-flex align-items-center gap-2">@webLoyal.Resources.language.Resources.Create<span class="d-none d-sm-inline">@webLoyal.Resources.language.Resources.Claims reclamo</span></a>
        </div>
    </div>
      <div  class="col-lg-12 row g-3">
            @*<div class="col-6 col-xl-3">
                <div class="card card-one">
                    <div class="card-body">
                        <label class="card-title fs-sm fw-medium mb-1">Reclamos Abiertos</label>
                        <h3 class="card-value mb-1"><i class="ri-shopping-bag-3-line"></i> 0</h3>
                        <small><span class="d-inline-flex text-danger">0.0% <i class="ri-arrow-down-line"></i></span> than last week</small>
                    </div><!-- card-body -->
                </div><!-- card-one -->
            </div>
            <div class="col-6 col-xl-3">
                <div class="card card-one">
                    <div class="card-body">
                        <label class="card-title fs-sm fw-medium mb-1">Reclamos Cerrados</label>
                        <h3 class="card-value mb-1"><i class="ri-shopping-bag-3-line"></i> 0</h3>
                        <small><span class="d-inline-flex text-danger">0.0% <i class="ri-arrow-down-line"></i></span> than last week</small>
                    </div><!-- card-body -->
                </div><!-- card-one -->
            </div>
            <div class="col-6 col-xl-3">
                <div class="card card-one">
                    <div class="card-body">
                        <label class="card-title fs-sm fw-medium mb-1">Reclamos que requieres su atencion</label>
                        <h3 class="card-value mb-1"><i class="ri-shopping-bag-3-line"></i> 0</h3>
                        <small><span class="d-inline-flex text-danger">0.0% <i class="ri-arrow-down-line"></i></span> than last week</small>
                    </div><!-- card-body -->
                </div><!-- card-one -->
            </div>
            <div class="col-6 col-xl-3">
                <div class="card card-one">
                    <div class="card-body">
                        <label class="card-title fs-sm fw-medium mb-1">Reclamos en Procesos</label>
                        <h3 class="card-value mb-1"><i class="ri-shopping-bag-3-line"></i> 0</h3>
                        <small><span class="d-inline-flex text-danger">0.0% <i class="ri-arrow-down-line"></i></span> than last week</small>
                    </div><!-- card-body -->
                </div><!-- card-one -->
            </div>
           *@
               <div class="card card-one mt-3">
                <div class="card-body p-3">
                    <div class="table-responsive">
                <table id="ClaimIndex" class="stripe hover display compact">
                            <thead>
                                <tr>
                                    <th>#</th>
                            <th>@webLoyal.Resources.language.Resources.PolicyNumber</th>
                            <th>@webLoyal.Resources.language.Resources.ClaimDate</th>
                            <th>@webLoyal.Resources.language.Resources.ClaimStatusDescription</th>
                            <th>@webLoyal.Resources.language.Resources.DescriptionOfTheClaimType</th>
                            <th>@webLoyal.Resources.language.Resources.DescriptionOfOrigin</th>
                            <th>@webLoyal.Resources.language.Resources.ClaimDescription</th>
                            <th>@webLoyal.Resources.language.Resources.DeductibleApplies</th>
                            <th>@webLoyal.Resources.language.Resources.DeductibleValue</th>
                            <th>@webLoyal.Resources.language.Resources.NotifyInsured</th>
                            <th>@webLoyal.Resources.language.Resources.NotifyInsuranceAgent</th>
                            <th>@webLoyal.Resources.language.Resources.NotifyProvider</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count > 0)
                                {
                               
                                    @foreach (var claim in Model.OrderByDescending(x => x.CodigoReclamo))
                                    {
                                      <tr>
                                    <td> <a href="../requestmonitor/detail/@claim.CodigoReclamo" class="btn btn-outline-tertiary"> @claim.CodigoReclamo</a> </td>
   
                                            <td>@claim.NumeroPoliza</td>
                                            <td>@claim.FechaReclamo</td>
                                            <td>@claim.DescripcionEstadoReclamo</td>
                                            <td>@claim.DescripcionTipoReclamo</td>
                                            <td>@claim.DescripcionOrigen</td>

                                            <td>@claim.DescripcionReclamo</td>
                                            <td>@claim.AplicaDeducible</td>
                                            <td>@claim.ValorDeducible.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))</td>
                                                @switch (claim.NotificaTitular)
                                                {
                                                    case  true:
                                            <td><span class="badge bg-primary"><i class="ri-check-double-fill"></i></span></td>
                                                        break;
                                                        case  false:
                                            <td><span class="badge bg-light"><i class="ri-close-line"></i></span></td>
                                                        break;
                                        
                                                }
                                                    @switch (claim.NotificaAgente)
                                                                {
                                                                    case  true:
                                            <td><span class="badge bg-secondary"><i class="ri-close-line"></i></span></td>
                                                                        break;
                                                                        case  false:
                                            <td><span class="badge bg-light"><i class="ri-close-line"></i></span></td>
                                                                        break;

                                                    }                                                
                                                    @switch (claim.NotificaProveedor)
                                                {
                                                    case  true:
                                            <td><span class="badge bg-light"><i class="ri-check-double-fill"></i></span></td>
                                                        break;
                                                        case  false:
                                                        <td><span class="badge bg-light"><i class="ri-close-line"></i></span></td>
                                                        break;
                                        
                                                }
                                            
                                            <td>
                                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                                    <div class="btn-group me-2" role="group" aria-label="First group">
                                                <a href="~/claims/detail/@claim.CodigoReclamo" class="btn btn-sm btn-outline-primary"><i class="ri-pencil-fill"></i></a>
                                                <a href="~/claims/delete/@claim.CodigoReclamo" class="btn btn-sm btn-outline-danger disabled"><i class="ri-delete-bin-2-fill"></i></a>
                                                    </div>
                                                 </div>
                                            </td>
                                       </tr>
                                        }

                                }
                            
                            </tbody>
                        </table>
                    </div>
                </div><!-- card-body -->
        </div>
        </div>

@section Scripts{
    <script>
        initDataTable("ClaimIndex");
     </script>

}
