@model List<core.Service.AgentsDetailModel>
<div>



<div class="container">
    
    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a href="../menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                <li class="breadcrumb-item"><a href="../dash/BoardAgents">Historial de Agentes</a></li>
                <li class="breadcrumb-item active" aria-current="page">@webLoyal.Resources.language.Resources.Agent</li>
            </ol>

        </div>
    </div>
@foreach (var item in Model)
    {
        
        <div class="row g-5">
            <div class="col-xl">
                <div class="media-profile mb-5">
                    <div class="media-img mb-3 mb-sm-0">
                        <img src="~/assets/img/-customer-service-agent_89777-2.png" class="img-fluid" alt="...">
                    </div><!-- media-img -->
                    <div class="media-body">
                        <h5 class="media-name">@item.NombreCompleto
                            @switch (item.CodigoEstadoAgente)
                            {
                                case "01":
                                    <span class="badge bg-success" title="@item.DescripcionEstadoAgente"><i class="ri-error-warning-line"></i>&nbsp @item.DescripcionEstadoAgente</span>
                                    break;
                                    case "02":
                                    <span class="badge bg-warning" title="@item.DescripcionEstadoAgente"><i class="ri-error-warning-line"></i>&nbsp @item.DescripcionEstadoAgente</span>
                                    break;
                                    case "03":
                                    <span class="badge bg-danger" title="@item.DescripcionEstadoAgente"><i class="ri-error-warning-line"></i>&nbsp @item.DescripcionEstadoAgente</span>
                                    break;
                                    case "04":
                                    <span class="badge bg-black" title="@item.DescripcionEstadoAgente"><i class="ri-error-warning-line"></i>&nbsp @item.DescripcionEstadoAgente</span>
                                    break;
                            }
                            </h5>
                        <p class="d-flex gap-2 mb-4"><i class="ri-map-pin-line"></i>@item.Direccion
                                @item.Provincia,  @item.CiudadOficina @item.DescripcionPaisOficina , @item.CodigoDireccionPostal
                            </p>
                            <ul class="mt-3">
                                <li>Correo Electronico: @item.Correo</li>
                                <li>Celular: @item.Celular</li>
                                <li>Direccion bancaria: @item.DirecciónCuenta</li>
                                <li>Fecha de Nacimiento: @item.FechaNacimiento</li>
                                <li>Fecha de Contrato: @item.FechaInicioContrato</li>

                            </ul>
                    </div><!-- media-body -->
                </div><!-- media-profile -->
            </div>
        </div>
            <div class="row row-cols-sm-auto g-4 g-md-5 g-xl-4 g-xxl-5">
                <div class="col">
                    <div class="profile-item">
                        <i class="ri-article-line"></i>
                        <div class="profile-item-body">
                            <p>Educación</p>
                            <span>Lic.</span>
                        </div><!-- profile-item-body -->
                    </div><!-- profile-item -->
                </div><!-- col -->
                <div class="col">
                    <div class="profile-item">
                        <i class="ri-medal-2-line"></i>
                        <div class="profile-item-body">
                            <p>Reconocimientos</p>
                            <span>Logros</span>
                        </div><!-- profile-item-body -->
                    </div><!-- profile-item -->
                </div><!-- col -->
                <div class="col">
                    <div class="profile-item">
                        <i class="ri-suitcase-line"></i>
                        <div class="profile-item-body">
                            <p>15+ Años</p>
                            <span>Experiencia Laboral</span>
                        </div><!-- profile-item-body -->
                    </div><!-- profile-item -->
                </div><!-- col -->
                <div class="col">
                    <div class="profile-item">
                        <i class="ri-team-line"></i>
                        <div class="profile-item-body">
                            <p>3,560</p>
                            <span>Personas atendidas</span>
                        </div><!-- profile-item-body -->
                    </div><!-- profile-item -->
                </div><!-- col -->
                <div class="col">
                    <div class="profile-item">
                        <i class="ri-team-line"></i>
                        <div class="profile-item-body">
                            <p>3,506</p>
                            <span>Personas Aseguradas</span>
                        </div><!-- profile-item-body -->
                    </div><!-- profile-item -->
                </div><!-- col -->
            </div>

            <!-- col -->
            <div class="card card-post mt-4">
                <div class="card-header">
                    <h6 class="card-title">Datos Bancarios</h6>
                    <a href="" class="link-more"><i class="ri-more-2-fill"></i></a>
                </div><!-- card-header -->
                <div class="card-body">
                    <div class="experience-item">
                        <div class="experience-icon"><i class="ri-suitcase-line"></i></div>
                        <div class="experience-body">
                            <h5>@item.DescripcionBanco</h5>
                            <ul class="mt-3">
                                <li>Numero de Cuenta: @item.NumeroCuentaDeposito</li>
                                <li>Tipo de Cuenta: @item.TipoCuentaDeposito</li>
                                <li>Codigo de Enrutamiento: @item.CodigoRouting</li>
                                <li>Direccion bancaria: @item.DirecciónCuenta @item.CodigoPostalOficina</li>
                               
                            </ul>
                        </div><!-- experience-body -->
                    </div><!-- experience-item -->
                </div><!-- card-body -->
            </div>

               
            <div class="card card-post mt-4">
                <div class="card-header">
                    <h6 class="card-title">Estadísticas</h6>
                    <a href="" class="link-more"><i class="ri-more-2-fill"></i></a>
                </div><!-- card-header -->
                    <div class="card-body">
                        <div class="post-header mb-3">
                            <a href="" class="avatar online"><span class="avatar-initial">s</span></a>
                            <div class="post-content">
                                <h6>Promedio comparado</h6>
                                <span>2022- 2023</span>
                            </div><!-- post-content -->
                        </div><!-- post-header -->
                    </div>
                <p class="post-text">Evaluamos a nuestros agentes desde una perspectiva comparativamente reflexiva de sus propios logros. <a href="">#AgenteDelAño</a> <a href="">#TopAgent</a></p>

                <div class="post-preview">
                    <div class="row g-3">
                            <canvas id="marksChart" width="600" height="400"></canvas>
                    </div><!-- row -->
                </div><!-- post-preview -->
            </div><!-- card-body -->
        
            <div class="card card-post mt-12">
                <div class="card card-one">
                    <div class="card-header">
                        <h6 class="card-title">Current Ticket Status</h6>
                        <nav class="nav nav-icon nav-icon-sm ms-auto">
                            <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                            <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
                        </nav>
                    </div><!-- card-header -->
                    <div class="card-body">
                        <div class="chartjs-one"><canvas id="chartJS1"></canvas></div>
                    </div><!-- card-body -->
                </div><!-- card -->
            </div><!-- col -->
            <div class="col-xl-5">
                <div class="card card-one">
                    <div class="card-header">
                        <h6 class="card-title">Tickets By Request Type</h6>
                        <nav class="nav nav-icon nav-icon-sm ms-auto">
                            <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                            <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
                        </nav>
                    </div><!-- card-header -->
                    <div class="card-body">
                        <div class="chartjs-two"><canvas id="chartJS2"></canvas></div>
                    </div><!-- card-body -->
                </div><!-- card -->
            </div><!-- col -->
            <div class="col-sm-6 col-xl">
                <div class="card card-one">
                    <div class="card-header">
                        <h6 class="card-title">Overall Rating</h6>
                        <nav class="nav nav-icon nav-icon-sm ms-auto">
                            <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                            <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
                        </nav>
                    </div><!-- card-header -->
                    <div class="card-body">
                        <div class="d-flex align-items-baseline gap-2 mb-0">
                            <h1 class="card-value mb-0">4.8</h1>
                            <div class="d-flex gap-1 text-warning fs-20">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-fill"></i>
                            </div>
                        </div>
                        <p class="fs-sm">Measures the quality or your support team’s efforts.</p>

                        <table class="table table-ratings mb-0">
                            <tbody>
                                <tr>
                                    <td><strong>5.0</strong></td>
                                    <td>
                                        <div class="d-flex gap-1 text-warning fs-16">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                        </div>
                                    </td>
                                    <td>4,230</td>
                                    <td>58%</td>
                                </tr>
                                <tr>
                                    <td><strong>4.0</strong></td>
                                    <td>
                                        <div class="d-flex gap-1 text-warning fs-16">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                        </div>
                                    </td>
                                    <td>1,416</td>
                                    <td>24%</td>
                                </tr>
                                <tr>
                                    <td><strong>3.0</strong></td>
                                    <td>
                                        <div class="d-flex gap-1 text-warning fs-16">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                        </div>
                                    </td>
                                    <td>980</td>
                                    <td>16%</td>
                                </tr>
                                <tr>
                                    <td><strong>2.0</strong></td>
                                    <td>
                                        <div class="d-flex gap-1 text-warning fs-16">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                        </div>
                                    </td>
                                    <td>798</td>
                                    <td>12%</td>
                                </tr>
                                <tr>
                                    <td><strong>1.0</strong></td>
                                    <td>
                                        <div class="d-flex gap-1 text-warning fs-16">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                        </div>
                                    </td>
                                    <td>401</td>
                                    <td>8%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- card-body -->
                </div><!-- card -->
            </div><!-- col -->
            <div class="col-sm-6 col-xl">
                <div class="card card-one">
                    <div class="card-header">
                        <h6 class="card-title">Performance Score</h6>
                        <nav class="nav nav-icon nav-icon-sm ms-auto">
                            <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                            <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
                        </nav>
                    </div><!-- card-header -->
                    <div class="card-body">
                        <div class="d-flex align-items-baseline gap-2 mb-0">
                            <h1 class="card-value mb-0">9.6</h1>
                            <div class="progress flex-fill ht-5">
                            <div class="progress-bar w-20" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-success w-15" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-warning w-15" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-info w-20" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-danger w-10" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <p class="fs-sm">The percentage value assigned to the operating metric.</p>

                    <table class="table table-ratings mb-0">
                        <tbody>
                            <tr>
                                <td><span class="badge-dot bg-primary"></span></td>
                                <td><strong>Excellent</strong></td>
                                <td>3,007</td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td><span class="badge-dot bg-success"></span></td>
                                <td><strong>Very Good</strong></td>
                                <td>1,674</td>
                                <td>25%</td>
                            </tr>
                            <tr>
                                <td><span class="badge-dot bg-warning"></span></td>
                                <td><strong>Good</strong></td>
                                <td>125</td>
                                <td>6%</td>
                            </tr>
                            <tr>
                                <td><span class="badge-dot bg-info"></span></td>
                                <td><strong>Fair</strong></td>
                                <td>98</td>
                                <td>5%</td>
                            </tr>
                            <tr>
                                <td><span class="badge-dot bg-danger"></span></td>
                                <td><strong>Poor</strong></td>
                                <td>512</td>
                                <td>10%</td>
                            </tr>
                        </tbody>
                    </table>
                    </div><!-- card-body -->
                </div><!-- card -->
            </div><!-- col -->
            @*
            <div class="col-12">
            <div class="card card-one">
                <div class="card-header">
                    <h6 class="card-title">Agent Performance Score</h6>
                    <nav class="nav nav-icon nav-icon-sm ms-auto">
                        <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                        <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
                    </nav>
                </div><!-- card-header -->
                <div class="card-body">
                    <div id="apexChart2" class="apex-chart-four mb-5" style="min-height: 200px;">
                        <div id="apexchartssd45v581" class="apexcharts-canvas apexchartssd45v581 apexcharts-theme-light" style="width: 1006px; height: 200px;">
                            <svg id="SvgjsSvg4624" width="1006" height="200" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg apexcharts-zoomable" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: none;">
                                <g id="SvgjsG4626" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 10)">
                                    <defs id="SvgjsDefs4625">
                                        <clipPath id="gridRectMasksd45v581">
                                            <rect id="SvgjsRect4631" width="1010.15625" height="157.05871875" x="-2.75" y="-0.75" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                        </clipPath>
                                        <clipPath id="forecastMasksd45v581"></clipPath>
                                        <clipPath id="nonForecastMasksd45v581"></clipPath>
                                        <clipPath id="gridRectMarkerMasksd45v581">
                                            <rect id="SvgjsRect4632" width="1008.65625" height="159.55871875" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                        </clipPath>
                                        <linearGradient id="SvgjsLinearGradient4637" x1="0" y1="0" x2="0" y2="1">
                                            <stop id="SvgjsStop4638" stop-opacity="0.5" stop-color="rgba(79,111,217,0.5)" offset="0"></stop>
                                            <stop id="SvgjsStop4639" stop-opacity="0" stop-color="rgba(167,183,236,0)" offset="1"></stop>
                                            <stop id="SvgjsStop4640" stop-opacity="0" stop-color="rgba(167,183,236,0)" offset="1"></stop>
                                        </linearGradient>
                                    </defs>
                                        <line id="SvgjsLine4630" x1="0" y1="0" x2="0" y2="155.55871875" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="155.55871875" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line>
                                        <line id="SvgjsLine4648" x1="0" y1="156.55871875" x2="0" y2="162.55871875" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine4650" x1="77.28125" y1="156.55871875" x2="77.28125" y2="162.55871875" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine4652" x1="154.5625" y1="156.55871875" x2="154.5625" y2="162.55871875" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine4654" x1="231.84375" y1="156.55871875" x2="231.84375" y2="162.55871875" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine4656" x1="309.125" y1="156.55871875" x2="309.125" y2="162.55871875" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine4658" x1="386.40625" y1="156.55871875" x2="386.40625" y2="162.55871875" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine4660" x1="463.6875" y1="156.55871875" x2="463.6875" y2="162.55871875" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine4662" x1="540.96875" y1="156.55871875" x2="540.96875" y2="162.55871875" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine4664" x1="618.25" y1="156.55871875" x2="618.25" y2="162.55871875" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine4666" x1="695.53125" y1="156.55871875" x2="695.53125" y2="162.55871875" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine4668" x1="772.8125" y1="156.55871875" x2="772.8125" y2="162.55871875" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine4670" x1="850.09375" y1="156.55871875" x2="850.09375" y2="162.55871875" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine4672" x1="927.375" y1="156.55871875" x2="927.375" y2="162.55871875" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine4674" x1="1004.65625" y1="156.55871875" x2="1004.65625" y2="162.55871875" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                                    <g id="SvgjsG4643" class="apexcharts-grid"><g id="SvgjsG4644" class="apexcharts-gridlines-horizontal"></g>
                                    <g id="SvgjsG4645" class="apexcharts-gridlines-vertical">
                                        <line id="SvgjsLine4647" x1="0" y1="0" x2="0" y2="155.55871875" stroke="rgba(72,94,144, 0.08)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                        <line id="SvgjsLine4649" x1="77.28125" y1="0" x2="77.28125" y2="155.55871875" stroke="rgba(72,94,144, 0.08)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                        <line id="SvgjsLine4651" x1="154.5625" y1="0" x2="154.5625" y2="155.55871875" stroke="rgba(72,94,144, 0.08)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                        <line id="SvgjsLine4653" x1="231.84375" y1="0" x2="231.84375" y2="155.55871875" stroke="rgba(72,94,144, 0.08)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                        <line id="SvgjsLine4655" x1="309.125" y1="0" x2="309.125" y2="155.55871875" stroke="rgba(72,94,144, 0.08)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                        <line id="SvgjsLine4657" x1="386.40625" y1="0" x2="386.40625" y2="155.55871875" stroke="rgba(72,94,144, 0.08)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                        <line id="SvgjsLine4659" x1="463.6875" y1="0" x2="463.6875" y2="155.55871875" stroke="rgba(72,94,144, 0.08)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                        <line id="SvgjsLine4661" x1="540.96875" y1="0" x2="540.96875" y2="155.55871875" stroke="rgba(72,94,144, 0.08)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                        <line id="SvgjsLine4663" x1="618.25" y1="0" x2="618.25" y2="155.55871875" stroke="rgba(72,94,144, 0.08)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                        <line id="SvgjsLine4665" x1="695.53125" y1="0" x2="695.53125" y2="155.55871875" stroke="rgba(72,94,144, 0.08)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                        <line id="SvgjsLine4667" x1="772.8125" y1="0" x2="772.8125" y2="155.55871875" stroke="rgba(72,94,144, 0.08)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                        <line id="SvgjsLine4669" x1="850.09375" y1="0" x2="850.09375" y2="155.55871875" stroke="rgba(72,94,144, 0.08)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                        <line id="SvgjsLine4671" x1="927.375" y1="0" x2="927.375" y2="155.55871875" stroke="rgba(72,94,144, 0.08)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                        <line id="SvgjsLine4673" x1="1004.65625" y1="0" x2="1004.65625" y2="155.55871875" stroke="rgba(72,94,144, 0.08)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                    </g>
                                    <line id="SvgjsLine4676" x1="0" y1="155.55871875" x2="1004.65625" y2="155.55871875" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line>
                                    <line id="SvgjsLine4675" x1="0" y1="1" x2="0" y2="155.55871875" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line>
                                </g>
                                    <g id="SvgjsG4646" class="apexcharts-grid-borders"></g>
                                    <g id="SvgjsG4633" class="apexcharts-area-series apexcharts-plot-series">
                                        <g id="SvgjsG4634" class="apexcharts-series" seriesName="series1" data:longestSeries="true" rel="1" data:realIndex="0">
                                            <path id="SvgjsPath4641" d="M 0 155.55871875 L 0 31.111743749999988 L 9.753944174757281 34.22291812499999 L 19.507888349514563 46.667615624999996 L 29.261832524271846 52.88996437499999 L 39.015776699029125 68.44583625 L 48.76972087378641 68.44583625 L 58.52366504854369 80.89053374999999 L 68.27760922330097 93.33523124999999 L 78.03155339805825 102.66875437499999 L 87.78549757281553 105.77992875 L 97.53944174757282 96.446405625 L 107.2933859223301 105.77992875 L 117.04733009708738 115.113451875 L 126.80127427184466 99.55758 L 136.55521844660194 102.66875437499999 L 146.30916262135923 99.55758 L 156.0631067961165 99.55758 L 165.8170509708738 96.446405625 L 175.57099514563106 99.55758 L 185.32493932038835 102.66875437499999 L 195.07888349514565 93.33523124999999 L 204.8328276699029 99.55758 L 214.5867718446602 102.66875437499999 L 224.34071601941747 102.66875437499999 L 234.09466019417476 108.891103125 L 243.84860436893203 108.891103125 L 253.60254854368932 112.00227749999999 L 263.3564927184466 108.891103125 L 273.1104368932039 99.55758 L 282.8643810679612 96.446405625 L 292.61832524271847 84.001708125 L 302.3722694174757 71.55701062499999 L 312.126213592233 62.22348749999999 L 321.8801577669903 68.44583625 L 331.6341019417476 65.334661875 L 341.3880461165049 65.334661875 L 351.1419902912621 71.55701062499999 L 360.8959344660194 80.89053374999999 L 370.6498786407767 87.1128825 L 380.403822815534 74.668185 L 390.1577669902913 68.44583625 L 399.91171116504853 71.55701062499999 L 409.6656553398058 62.22348749999999 L 419.4195995145631 74.668185 L 429.1735436893204 87.1128825 L 438.9274878640777 96.446405625 L 448.68143203883494 105.77992875 L 458.43537621359224 102.66875437499999 L 468.18932038834953 93.33523124999999 L 477.9432645631068 105.77992875 L 487.69720873786406 118.22462625 L 497.45115291262135 124.446975 L 507.20509708737865 133.780498125 L 516.9590412621359 121.33580062499999 L 526.7129854368932 108.891103125 L 536.4669296116505 93.33523124999999 L 546.2208737864078 87.1128825 L 555.9748179611651 96.446405625 L 565.7287621359224 99.55758 L 575.4827063106796 93.33523124999999 L 585.2366504854369 102.66875437499999 L 594.9905946601942 96.446405625 L 604.7445388349514 99.55758 L 614.4984830097087 112.00227749999999 L 624.252427184466 127.558149375 L 634.0063713592233 124.446975 L 643.7603155339806 136.8916725 L 653.5142597087379 124.446975 L 663.2682038834952 118.22462625 L 673.0221480582525 115.113451875 L 682.7760922330098 99.55758 L 692.530036407767 87.1128825 L 702.2839805825242 87.1128825 L 712.0379247572815 74.668185 L 721.7918689320388 87.1128825 L 731.5458131067961 99.55758 L 741.2997572815534 96.446405625 L 751.0537014563107 96.446405625 L 760.807645631068 99.55758 L 770.5615898058253 84.001708125 L 780.3155339805826 93.33523124999999 L 790.0694781553398 77.779359375 L 799.8234223300971 68.44583625 L 809.5773665048544 65.334661875 L 819.3313106796116 71.55701062499999 L 829.0852548543689 77.779359375 L 838.8391990291262 77.779359375 L 848.5931432038835 80.89053374999999 L 858.3470873786408 93.33523124999999 L 868.1010315533981 99.55758 L 877.8549757281554 99.55758 L 887.6089199029126 99.55758 L 897.3628640776699 87.1128825 L 907.1168082524272 90.22405687499999 L 916.8707524271845 74.668185 L 926.6246966019418 65.334661875 L 936.3786407766991 74.668185 L 946.1325849514564 68.44583625 L 955.8865291262136 62.22348749999999 L 965.6404733009709 68.44583625 L 975.3944174757281 62.22348749999999 L 985.1483616504854 71.55701062499999 L 994.9023058252427 62.22348749999999 L 1004.65625 74.668185 L 1004.65625 155.55871875M 1004.65625 74.668185z" fill="url(#SvgjsLinearGradient4637)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMasksd45v581)" pathTo="M 0 155.55871875 L 0 31.111743749999988 L 9.753944174757281 34.22291812499999 L 19.507888349514563 46.667615624999996 L 29.261832524271846 52.88996437499999 L 39.015776699029125 68.44583625 L 48.76972087378641 68.44583625 L 58.52366504854369 80.89053374999999 L 68.27760922330097 93.33523124999999 L 78.03155339805825 102.66875437499999 L 87.78549757281553 105.77992875 L 97.53944174757282 96.446405625 L 107.2933859223301 105.77992875 L 117.04733009708738 115.113451875 L 126.80127427184466 99.55758 L 136.55521844660194 102.66875437499999 L 146.30916262135923 99.55758 L 156.0631067961165 99.55758 L 165.8170509708738 96.446405625 L 175.57099514563106 99.55758 L 185.32493932038835 102.66875437499999 L 195.07888349514565 93.33523124999999 L 204.8328276699029 99.55758 L 214.5867718446602 102.66875437499999 L 224.34071601941747 102.66875437499999 L 234.09466019417476 108.891103125 L 243.84860436893203 108.891103125 L 253.60254854368932 112.00227749999999 L 263.3564927184466 108.891103125 L 273.1104368932039 99.55758 L 282.8643810679612 96.446405625 L 292.61832524271847 84.001708125 L 302.3722694174757 71.55701062499999 L 312.126213592233 62.22348749999999 L 321.8801577669903 68.44583625 L 331.6341019417476 65.334661875 L 341.3880461165049 65.334661875 L 351.1419902912621 71.55701062499999 L 360.8959344660194 80.89053374999999 L 370.6498786407767 87.1128825 L 380.403822815534 74.668185 L 390.1577669902913 68.44583625 L 399.91171116504853 71.55701062499999 L 409.6656553398058 62.22348749999999 L 419.4195995145631 74.668185 L 429.1735436893204 87.1128825 L 438.9274878640777 96.446405625 L 448.68143203883494 105.77992875 L 458.43537621359224 102.66875437499999 L 468.18932038834953 93.33523124999999 L 477.9432645631068 105.77992875 L 487.69720873786406 118.22462625 L 497.45115291262135 124.446975 L 507.20509708737865 133.780498125 L 516.9590412621359 121.33580062499999 L 526.7129854368932 108.891103125 L 536.4669296116505 93.33523124999999 L 546.2208737864078 87.1128825 L 555.9748179611651 96.446405625 L 565.7287621359224 99.55758 L 575.4827063106796 93.33523124999999 L 585.2366504854369 102.66875437499999 L 594.9905946601942 96.446405625 L 604.7445388349514 99.55758 L 614.4984830097087 112.00227749999999 L 624.252427184466 127.558149375 L 634.0063713592233 124.446975 L 643.7603155339806 136.8916725 L 653.5142597087379 124.446975 L 663.2682038834952 118.22462625 L 673.0221480582525 115.113451875 L 682.7760922330098 99.55758 L 692.530036407767 87.1128825 L 702.2839805825242 87.1128825 L 712.0379247572815 74.668185 L 721.7918689320388 87.1128825 L 731.5458131067961 99.55758 L 741.2997572815534 96.446405625 L 751.0537014563107 96.446405625 L 760.807645631068 99.55758 L 770.5615898058253 84.001708125 L 780.3155339805826 93.33523124999999 L 790.0694781553398 77.779359375 L 799.8234223300971 68.44583625 L 809.5773665048544 65.334661875 L 819.3313106796116 71.55701062499999 L 829.0852548543689 77.779359375 L 838.8391990291262 77.779359375 L 848.5931432038835 80.89053374999999 L 858.3470873786408 93.33523124999999 L 868.1010315533981 99.55758 L 877.8549757281554 99.55758 L 887.6089199029126 99.55758 L 897.3628640776699 87.1128825 L 907.1168082524272 90.22405687499999 L 916.8707524271845 74.668185 L 926.6246966019418 65.334661875 L 936.3786407766991 74.668185 L 946.1325849514564 68.44583625 L 955.8865291262136 62.22348749999999 L 965.6404733009709 68.44583625 L 975.3944174757281 62.22348749999999 L 985.1483616504854 71.55701062499999 L 994.9023058252427 62.22348749999999 L 1004.65625 74.668185 L 1004.65625 155.55871875M 1004.65625 74.668185z" pathFrom="M -1 155.55871875 L -1 155.55871875 L 9.753944174757281 155.55871875 L 19.507888349514563 155.55871875 L 29.261832524271846 155.55871875 L 39.015776699029125 155.55871875 L 48.76972087378641 155.55871875 L 58.52366504854369 155.55871875 L 68.27760922330097 155.55871875 L 78.03155339805825 155.55871875 L 87.78549757281553 155.55871875 L 97.53944174757282 155.55871875 L 107.2933859223301 155.55871875 L 117.04733009708738 155.55871875 L 126.80127427184466 155.55871875 L 136.55521844660194 155.55871875 L 146.30916262135923 155.55871875 L 156.0631067961165 155.55871875 L 165.8170509708738 155.55871875 L 175.57099514563106 155.55871875 L 185.32493932038835 155.55871875 L 195.07888349514565 155.55871875 L 204.8328276699029 155.55871875 L 214.5867718446602 155.55871875 L 224.34071601941747 155.55871875 L 234.09466019417476 155.55871875 L 243.84860436893203 155.55871875 L 253.60254854368932 155.55871875 L 263.3564927184466 155.55871875 L 273.1104368932039 155.55871875 L 282.8643810679612 155.55871875 L 292.61832524271847 155.55871875 L 302.3722694174757 155.55871875 L 312.126213592233 155.55871875 L 321.8801577669903 155.55871875 L 331.6341019417476 155.55871875 L 341.3880461165049 155.55871875 L 351.1419902912621 155.55871875 L 360.8959344660194 155.55871875 L 370.6498786407767 155.55871875 L 380.403822815534 155.55871875 L 390.1577669902913 155.55871875 L 399.91171116504853 155.55871875 L 409.6656553398058 155.55871875 L 419.4195995145631 155.55871875 L 429.1735436893204 155.55871875 L 438.9274878640777 155.55871875 L 448.68143203883494 155.55871875 L 458.43537621359224 155.55871875 L 468.18932038834953 155.55871875 L 477.9432645631068 155.55871875 L 487.69720873786406 155.55871875 L 497.45115291262135 155.55871875 L 507.20509708737865 155.55871875 L 516.9590412621359 155.55871875 L 526.7129854368932 155.55871875 L 536.4669296116505 155.55871875 L 546.2208737864078 155.55871875 L 555.9748179611651 155.55871875 L 565.7287621359224 155.55871875 L 575.4827063106796 155.55871875 L 585.2366504854369 155.55871875 L 594.9905946601942 155.55871875 L 604.7445388349514 155.55871875 L 614.4984830097087 155.55871875 L 624.252427184466 155.55871875 L 634.0063713592233 155.55871875 L 643.7603155339806 155.55871875 L 653.5142597087379 155.55871875 L 663.2682038834952 155.55871875 L 673.0221480582525 155.55871875 L 682.7760922330098 155.55871875 L 692.530036407767 155.55871875 L 702.2839805825242 155.55871875 L 712.0379247572815 155.55871875 L 721.7918689320388 155.55871875 L 731.5458131067961 155.55871875 L 741.2997572815534 155.55871875 L 751.0537014563107 155.55871875 L 760.807645631068 155.55871875 L 770.5615898058253 155.55871875 L 780.3155339805826 155.55871875 L 790.0694781553398 155.55871875 L 799.8234223300971 155.55871875 L 809.5773665048544 155.55871875 L 819.3313106796116 155.55871875 L 829.0852548543689 155.55871875 L 838.8391990291262 155.55871875 L 848.5931432038835 155.55871875 L 858.3470873786408 155.55871875 L 868.1010315533981 155.55871875 L 877.8549757281554 155.55871875 L 887.6089199029126 155.55871875 L 897.3628640776699 155.55871875 L 907.1168082524272 155.55871875 L 916.8707524271845 155.55871875 L 926.6246966019418 155.55871875 L 936.3786407766991 155.55871875 L 946.1325849514564 155.55871875 L 955.8865291262136 155.55871875 L 965.6404733009709 155.55871875 L 975.3944174757281 155.55871875 L 985.1483616504854 155.55871875 L 994.9023058252427 155.55871875 L 1004.65625 155.55871875"></path><path id="SvgjsPath4642" d="M 0 31.111743749999988 L 9.753944174757281 34.22291812499999 L 19.507888349514563 46.667615624999996 L 29.261832524271846 52.88996437499999 L 39.015776699029125 68.44583625 L 48.76972087378641 68.44583625 L 58.52366504854369 80.89053374999999 L 68.27760922330097 93.33523124999999 L 78.03155339805825 102.66875437499999 L 87.78549757281553 105.77992875 L 97.53944174757282 96.446405625 L 107.2933859223301 105.77992875 L 117.04733009708738 115.113451875 L 126.80127427184466 99.55758 L 136.55521844660194 102.66875437499999 L 146.30916262135923 99.55758 L 156.0631067961165 99.55758 L 165.8170509708738 96.446405625 L 175.57099514563106 99.55758 L 185.32493932038835 102.66875437499999 L 195.07888349514565 93.33523124999999 L 204.8328276699029 99.55758 L 214.5867718446602 102.66875437499999 L 224.34071601941747 102.66875437499999 L 234.09466019417476 108.891103125 L 243.84860436893203 108.891103125 L 253.60254854368932 112.00227749999999 L 263.3564927184466 108.891103125 L 273.1104368932039 99.55758 L 282.8643810679612 96.446405625 L 292.61832524271847 84.001708125 L 302.3722694174757 71.55701062499999 L 312.126213592233 62.22348749999999 L 321.8801577669903 68.44583625 L 331.6341019417476 65.334661875 L 341.3880461165049 65.334661875 L 351.1419902912621 71.55701062499999 L 360.8959344660194 80.89053374999999 L 370.6498786407767 87.1128825 L 380.403822815534 74.668185 L 390.1577669902913 68.44583625 L 399.91171116504853 71.55701062499999 L 409.6656553398058 62.22348749999999 L 419.4195995145631 74.668185 L 429.1735436893204 87.1128825 L 438.9274878640777 96.446405625 L 448.68143203883494 105.77992875 L 458.43537621359224 102.66875437499999 L 468.18932038834953 93.33523124999999 L 477.9432645631068 105.77992875 L 487.69720873786406 118.22462625 L 497.45115291262135 124.446975 L 507.20509708737865 133.780498125 L 516.9590412621359 121.33580062499999 L 526.7129854368932 108.891103125 L 536.4669296116505 93.33523124999999 L 546.2208737864078 87.1128825 L 555.9748179611651 96.446405625 L 565.7287621359224 99.55758 L 575.4827063106796 93.33523124999999 L 585.2366504854369 102.66875437499999 L 594.9905946601942 96.446405625 L 604.7445388349514 99.55758 L 614.4984830097087 112.00227749999999 L 624.252427184466 127.558149375 L 634.0063713592233 124.446975 L 643.7603155339806 136.8916725 L 653.5142597087379 124.446975 L 663.2682038834952 118.22462625 L 673.0221480582525 115.113451875 L 682.7760922330098 99.55758 L 692.530036407767 87.1128825 L 702.2839805825242 87.1128825 L 712.0379247572815 74.668185 L 721.7918689320388 87.1128825 L 731.5458131067961 99.55758 L 741.2997572815534 96.446405625 L 751.0537014563107 96.446405625 L 760.807645631068 99.55758 L 770.5615898058253 84.001708125 L 780.3155339805826 93.33523124999999 L 790.0694781553398 77.779359375 L 799.8234223300971 68.44583625 L 809.5773665048544 65.334661875 L 819.3313106796116 71.55701062499999 L 829.0852548543689 77.779359375 L 838.8391990291262 77.779359375 L 848.5931432038835 80.89053374999999 L 858.3470873786408 93.33523124999999 L 868.1010315533981 99.55758 L 877.8549757281554 99.55758 L 887.6089199029126 99.55758 L 897.3628640776699 87.1128825 L 907.1168082524272 90.22405687499999 L 916.8707524271845 74.668185 L 926.6246966019418 65.334661875 L 936.3786407766991 74.668185 L 946.1325849514564 68.44583625 L 955.8865291262136 62.22348749999999 L 965.6404733009709 68.44583625 L 975.3944174757281 62.22348749999999 L 985.1483616504854 71.55701062499999 L 994.9023058252427 62.22348749999999 L 1004.65625 74.668185" fill="none" fill-opacity="1" stroke="#4f6fd9" stroke-opacity="1" stroke-linecap="butt" stroke-width="1.5" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMasksd45v581)" pathTo="M 0 31.111743749999988 L 9.753944174757281 34.22291812499999 L 19.507888349514563 46.667615624999996 L 29.261832524271846 52.88996437499999 L 39.015776699029125 68.44583625 L 48.76972087378641 68.44583625 L 58.52366504854369 80.89053374999999 L 68.27760922330097 93.33523124999999 L 78.03155339805825 102.66875437499999 L 87.78549757281553 105.77992875 L 97.53944174757282 96.446405625 L 107.2933859223301 105.77992875 L 117.04733009708738 115.113451875 L 126.80127427184466 99.55758 L 136.55521844660194 102.66875437499999 L 146.30916262135923 99.55758 L 156.0631067961165 99.55758 L 165.8170509708738 96.446405625 L 175.57099514563106 99.55758 L 185.32493932038835 102.66875437499999 L 195.07888349514565 93.33523124999999 L 204.8328276699029 99.55758 L 214.5867718446602 102.66875437499999 L 224.34071601941747 102.66875437499999 L 234.09466019417476 108.891103125 L 243.84860436893203 108.891103125 L 253.60254854368932 112.00227749999999 L 263.3564927184466 108.891103125 L 273.1104368932039 99.55758 L 282.8643810679612 96.446405625 L 292.61832524271847 84.001708125 L 302.3722694174757 71.55701062499999 L 312.126213592233 62.22348749999999 L 321.8801577669903 68.44583625 L 331.6341019417476 65.334661875 L 341.3880461165049 65.334661875 L 351.1419902912621 71.55701062499999 L 360.8959344660194 80.89053374999999 L 370.6498786407767 87.1128825 L 380.403822815534 74.668185 L 390.1577669902913 68.44583625 L 399.91171116504853 71.55701062499999 L 409.6656553398058 62.22348749999999 L 419.4195995145631 74.668185 L 429.1735436893204 87.1128825 L 438.9274878640777 96.446405625 L 448.68143203883494 105.77992875 L 458.43537621359224 102.66875437499999 L 468.18932038834953 93.33523124999999 L 477.9432645631068 105.77992875 L 487.69720873786406 118.22462625 L 497.45115291262135 124.446975 L 507.20509708737865 133.780498125 L 516.9590412621359 121.33580062499999 L 526.7129854368932 108.891103125 L 536.4669296116505 93.33523124999999 L 546.2208737864078 87.1128825 L 555.9748179611651 96.446405625 L 565.7287621359224 99.55758 L 575.4827063106796 93.33523124999999 L 585.2366504854369 102.66875437499999 L 594.9905946601942 96.446405625 L 604.7445388349514 99.55758 L 614.4984830097087 112.00227749999999 L 624.252427184466 127.558149375 L 634.0063713592233 124.446975 L 643.7603155339806 136.8916725 L 653.5142597087379 124.446975 L 663.2682038834952 118.22462625 L 673.0221480582525 115.113451875 L 682.7760922330098 99.55758 L 692.530036407767 87.1128825 L 702.2839805825242 87.1128825 L 712.0379247572815 74.668185 L 721.7918689320388 87.1128825 L 731.5458131067961 99.55758 L 741.2997572815534 96.446405625 L 751.0537014563107 96.446405625 L 760.807645631068 99.55758 L 770.5615898058253 84.001708125 L 780.3155339805826 93.33523124999999 L 790.0694781553398 77.779359375 L 799.8234223300971 68.44583625 L 809.5773665048544 65.334661875 L 819.3313106796116 71.55701062499999 L 829.0852548543689 77.779359375 L 838.8391990291262 77.779359375 L 848.5931432038835 80.89053374999999 L 858.3470873786408 93.33523124999999 L 868.1010315533981 99.55758 L 877.8549757281554 99.55758 L 887.6089199029126 99.55758 L 897.3628640776699 87.1128825 L 907.1168082524272 90.22405687499999 L 916.8707524271845 74.668185 L 926.6246966019418 65.334661875 L 936.3786407766991 74.668185 L 946.1325849514564 68.44583625 L 955.8865291262136 62.22348749999999 L 965.6404733009709 68.44583625 L 975.3944174757281 62.22348749999999 L 985.1483616504854 71.55701062499999 L 994.9023058252427 62.22348749999999 L 1004.65625 74.668185" pathFrom="M -1 155.55871875 L -1 155.55871875 L 9.753944174757281 155.55871875 L 19.507888349514563 155.55871875 L 29.261832524271846 155.55871875 L 39.015776699029125 155.55871875 L 48.76972087378641 155.55871875 L 58.52366504854369 155.55871875 L 68.27760922330097 155.55871875 L 78.03155339805825 155.55871875 L 87.78549757281553 155.55871875 L 97.53944174757282 155.55871875 L 107.2933859223301 155.55871875 L 117.04733009708738 155.55871875 L 126.80127427184466 155.55871875 L 136.55521844660194 155.55871875 L 146.30916262135923 155.55871875 L 156.0631067961165 155.55871875 L 165.8170509708738 155.55871875 L 175.57099514563106 155.55871875 L 185.32493932038835 155.55871875 L 195.07888349514565 155.55871875 L 204.8328276699029 155.55871875 L 214.5867718446602 155.55871875 L 224.34071601941747 155.55871875 L 234.09466019417476 155.55871875 L 243.84860436893203 155.55871875 L 253.60254854368932 155.55871875 L 263.3564927184466 155.55871875 L 273.1104368932039 155.55871875 L 282.8643810679612 155.55871875 L 292.61832524271847 155.55871875 L 302.3722694174757 155.55871875 L 312.126213592233 155.55871875 L 321.8801577669903 155.55871875 L 331.6341019417476 155.55871875 L 341.3880461165049 155.55871875 L 351.1419902912621 155.55871875 L 360.8959344660194 155.55871875 L 370.6498786407767 155.55871875 L 380.403822815534 155.55871875 L 390.1577669902913 155.55871875 L 399.91171116504853 155.55871875 L 409.6656553398058 155.55871875 L 419.4195995145631 155.55871875 L 429.1735436893204 155.55871875 L 438.9274878640777 155.55871875 L 448.68143203883494 155.55871875 L 458.43537621359224 155.55871875 L 468.18932038834953 155.55871875 L 477.9432645631068 155.55871875 L 487.69720873786406 155.55871875 L 497.45115291262135 155.55871875 L 507.20509708737865 155.55871875 L 516.9590412621359 155.55871875 L 526.7129854368932 155.55871875 L 536.4669296116505 155.55871875 L 546.2208737864078 155.55871875 L 555.9748179611651 155.55871875 L 565.7287621359224 155.55871875 L 575.4827063106796 155.55871875 L 585.2366504854369 155.55871875 L 594.9905946601942 155.55871875 L 604.7445388349514 155.55871875 L 614.4984830097087 155.55871875 L 624.252427184466 155.55871875 L 634.0063713592233 155.55871875 L 643.7603155339806 155.55871875 L 653.5142597087379 155.55871875 L 663.2682038834952 155.55871875 L 673.0221480582525 155.55871875 L 682.7760922330098 155.55871875 L 692.530036407767 155.55871875 L 702.2839805825242 155.55871875 L 712.0379247572815 155.55871875 L 721.7918689320388 155.55871875 L 731.5458131067961 155.55871875 L 741.2997572815534 155.55871875 L 751.0537014563107 155.55871875 L 760.807645631068 155.55871875 L 770.5615898058253 155.55871875 L 780.3155339805826 155.55871875 L 790.0694781553398 155.55871875 L 799.8234223300971 155.55871875 L 809.5773665048544 155.55871875 L 819.3313106796116 155.55871875 L 829.0852548543689 155.55871875 L 838.8391990291262 155.55871875 L 848.5931432038835 155.55871875 L 858.3470873786408 155.55871875 L 868.1010315533981 155.55871875 L 877.8549757281554 155.55871875 L 887.6089199029126 155.55871875 L 897.3628640776699 155.55871875 L 907.1168082524272 155.55871875 L 916.8707524271845 155.55871875 L 926.6246966019418 155.55871875 L 936.3786407766991 155.55871875 L 946.1325849514564 155.55871875 L 955.8865291262136 155.55871875 L 965.6404733009709 155.55871875 L 975.3944174757281 155.55871875 L 985.1483616504854 155.55871875 L 994.9023058252427 155.55871875 L 1004.65625 155.55871875" fill-rule="evenodd"></path><g id="SvgjsG4635" class="apexcharts-series-markers-wrap" data:realIndex="0"></g></g><g id="SvgjsG4636" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine4677" x1="0" y1="0" x2="1004.65625" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine4678" x1="0" y1="0" x2="1004.65625" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG4679" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG4680" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG4681" class="apexcharts-point-annotations"></g><g id="SvgjsG4682" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG4683" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text id="SvgjsText4685" font-family="Helvetica, Arial, sans-serif" x="0" y="184.55871875" text-anchor="middle" dominant-baseline="auto" font-size="10px" font-weight="400" fill="#6e7985" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan4686"></tspan><title></title></text><text id="SvgjsText4688" font-family="Helvetica, Arial, sans-serif" x="77.28125" y="184.55871875" text-anchor="middle" dominant-baseline="auto" font-size="10px" font-weight="400" fill="#6e7985" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan4689">JAN</tspan><title>JAN</title></text><text id="SvgjsText4691" font-family="Helvetica, Arial, sans-serif" x="154.5625" y="184.55871875" text-anchor="middle" dominant-baseline="auto" font-size="10px" font-weight="400" fill="#6e7985" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan4692">FEB</tspan><title>FEB</title></text><text id="SvgjsText4694" font-family="Helvetica, Arial, sans-serif" x="231.84375" y="184.55871875" text-anchor="middle" dominant-baseline="auto" font-size="10px" font-weight="400" fill="#6e7985" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan4695">MAR</tspan><title>MAR</title></text><text id="SvgjsText4697" font-family="Helvetica, Arial, sans-serif" x="309.125" y="184.55871875" text-anchor="middle" dominant-baseline="auto" font-size="10px" font-weight="400" fill="#6e7985" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan4698">APR</tspan><title>APR</title></text><text id="SvgjsText4700" font-family="Helvetica, Arial, sans-serif" x="386.40625" y="184.55871875" text-anchor="middle" dominant-baseline="auto" font-size="10px" font-weight="400" fill="#6e7985" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan4701">MAY</tspan><title>MAY</title></text><text id="SvgjsText4703" font-family="Helvetica, Arial, sans-serif" x="463.6875" y="184.55871875" text-anchor="middle" dominant-baseline="auto" font-size="10px" font-weight="400" fill="#6e7985" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan4704">JUN</tspan><title>JUN</title></text><text id="SvgjsText4706" font-family="Helvetica, Arial, sans-serif" x="540.96875" y="184.55871875" text-anchor="middle" dominant-baseline="auto" font-size="10px" font-weight="400" fill="#6e7985" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan4707">JUL</tspan><title>JUL</title></text><text id="SvgjsText4709" font-family="Helvetica, Arial, sans-serif" x="618.25" y="184.55871875" text-anchor="middle" dominant-baseline="auto" font-size="10px" font-weight="400" fill="#6e7985" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan4710">AUG</tspan><title>AUG</title></text><text id="SvgjsText4712" font-family="Helvetica, Arial, sans-serif" x="695.53125" y="184.55871875" text-anchor="middle" dominant-baseline="auto" font-size="10px" font-weight="400" fill="#6e7985" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan4713">SEP</tspan><title>SEP</title></text><text id="SvgjsText4715" font-family="Helvetica, Arial, sans-serif" x="772.8125" y="184.55871875" text-anchor="middle" dominant-baseline="auto" font-size="10px" font-weight="400" fill="#6e7985" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan4716">OCT</tspan><title>OCT</title></text><text id="SvgjsText4718" font-family="Helvetica, Arial, sans-serif" x="850.09375" y="184.55871875" text-anchor="middle" dominant-baseline="auto" font-size="10px" font-weight="400" fill="#6e7985" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan4719">NOV</tspan><title>NOV</title></text><text id="SvgjsText4721" font-family="Helvetica, Arial, sans-serif" x="927.375" y="184.55871875" text-anchor="middle" dominant-baseline="auto" font-size="10px" font-weight="400" fill="#6e7985" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan4722">DEC</tspan><title>DEC</title></text><text id="SvgjsText4724" font-family="Helvetica, Arial, sans-serif" x="1004.65625" y="184.55871875" text-anchor="middle" dominant-baseline="auto" font-size="10px" font-weight="400" fill="#6e7985" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan4725"></tspan><title></title></text></g></g><rect id="SvgjsRect4727" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-zoom-rect"></rect><rect id="SvgjsRect4728" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-selection-rect"></rect></g><g id="SvgjsG4627" class="apexcharts-annotations"></g><g id="SvgjsG4726" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><rect id="SvgjsRect4629" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect></svg><div class="apexcharts-legend" style="max-height: 100px;"></div></div></div>
                                        </g>
                                    </g>
                                </g>
                            </svg>    
                        </div>
                    </div>
                </div>
            <div class="card-footer">
              <nav class="nav">
                <a href="" class="nav-link"><i class="ri-thumb-up-line"></i> Like</a>
                <a href="" class="nav-link"><i class="ri-chat-1-line"></i> Comment</a>
                <a href="" class="nav-link"><i class="ri-share-forward-line"></i> Share</a>
              </nav>
            </div><!-- card-footer -->
        </div><!-- row -->

</div>*@
        
    }
 
</div>
</div>
@section Scripts{
    <script>
        var marksCanvas = document.getElementById("marksChart");

        var marksData = {
        labels: ["Volumen de ventas","Volumen de ventas2", "Valor total de las ventas", "Retención de clientes", "Comisiones generadas", "Valoración de los clientes:", "Cumplimiento de objetivos", "Número de referencias", "Conocimiento del producto y competencia"],
        datasets: [{
            label: "2022",
            backgroundColor: "rgba(200,0,0,0.2)",
            data: [80, 80, 80, 80, 78, 87, 75, 76]
        }, {
            label: "2023",
            backgroundColor: "rgba(0,0,200,0.2)",
            data: [84, 85, 87, 82, 80, 90, 80, 81]
        }]
        };

        var radarChart = new Chart(marksCanvas, {
        type: 'radar',
        data: marksData
        });
    </script>
}