
    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a href="../menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                <li class="breadcrumb-item"><a href="../Claims/index">@webLoyal.Resources.language.Resources.Draft</a></li>
                <li class="breadcrumb-item active" aria-current="page">@webLoyal.Resources.language.Resources.Create</li>
            </ol>
          
        </div>
    </div>
  
    <form class="row col-6">


        <div class="col-6 form-control">
            <div class="card card-one">
                <div class ="card-body row">
                    <div class="col-12">
                        
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-label" for="flexSwitchCheckDefault">@webLoyal.Resources.language.Resources.IfYouWantToAssociateAnAgentSelect</label>
                        </div>

                    </div>
                    <div class="col-12">
                        <label class="form-label">@webLoyal.Resources.language.Resources.Agents</label>

                        <select class="form-select" id="listaNombres" disabled>
                            <option value="nombre1">@webLoyal.Resources.language.Resources.Agent 1</option>
                            <option value="nombre2">@webLoyal.Resources.language.Resources.Agent 2</option>
                            <option value="nombre3">@webLoyal.Resources.language.Resources.Agent 3</option>
                        </select>

                    </div>
                    <div class="col-12">
                        <label class="form-label">@webLoyal.Resources.language.Resources.StartOfValidity</label>
                        <input class="form-control" type="date" name="fecha">
                    </div>
                    <div class="col-12">
                        <label class="form-label">@webLoyal.Resources.language.Resources.Country</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>@webLoyal.Resources.language.Resources.SelectTheCountry</option>
                                <option value="1">Alemania</option>
                                <option value="2">Colombia</option>
                                <option value="3">Venezuela</option>
                            </select>
                    </div>
                <div>
                <div style="background-color: lightblue; padding: 0,5px;margin-bottom: 8px;margin-top: 10px;">
                    <label for="exampleFormControlTextarea1" class="form-label">@webLoyal.Resources.language.Resources.Applicant</label>
                </div>
                <div>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Nombre Completo..."></textarea>
                </div>
                <div class="col-12">
                    <label class="form-label">@webLoyal.Resources.language.Resources.Birthdate</label>
                    <input class="form-control" type="date" name="fecha">
                </div>   
                <div class="col-12">
                    <label class="form-label">@webLoyal.Resources.language.Resources.Sex</label>

                    <select class="form-select" aria-label="Sexo">
                        <option selected>@webLoyal.Resources.language.Resources.SelectTheGenre</option>
                        <option value="1">@webLoyal.Resources.language.Resources.Female</option>
                        <option value="2">@webLoyal.Resources.language.Resources.Male</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">@webLoyal.Resources.language.Resources.Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
                </div>
                <div style="background-color: lightblue; padding: 0,5px;margin-bottom: 8px;">
                    <label for="exampleFormControlTextarea1" class="form-label">@webLoyal.Resources.language.Resources.Spouse</label>
                </div>
                <div>
                       <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Nombre Completo..."></textarea>
                </div>
                <div class="col-12">
                        <label class="form-label">@webLoyal.Resources.language.Resources.Birthdate</label>
                        <input class="form-control" type="date" name="fecha">
                </div>
                <div class="col-12">
                    <label class="form-label">@webLoyal.Resources.language.Resources.NumberOfChildrenOptional</label>
                    <input type="number" id="numero" min="0" max="10">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        @webLoyal.Resources.language.Resources.Transplant
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        @webLoyal.Resources.language.Resources.MaternityComplications
                    </label>
                <div class="card-footer">
                    <div class="col-12">
                        <button id="submitButton2" type="submit" class="btn btn-primary">@webLoyal.Resources.language.Resources.Accept</button>
                    </div>
                </div>                    
                </div>
            </div>
        </div>


 
    </form>
    <div class="col-6"></div>

@section Scripts{
    <script>
        const checkbox = document.getElementById('flexSwitchCheckDefault');
        const listaNombres = document.getElementById('listaNombres');

        checkbox.addEventListener('change', function () {
            listaNombres.disabled = !this.checked;
        });

    </script>
}