@model core.Service.CertificatesDetailModel

<div class="container">
    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a href="../menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                <li class="breadcrumb-item"><a href="../certificates/index">@webLoyal.Resources.language.Resources.Certificate</a></li>
                <li class="breadcrumb-item active" aria-current="page">@webLoyal.Resources.language.Resources.Create</li>
            </ol>
            <h4 class="main-title mb-0"></h4>
        </div>
    </div>
    <form id="CreateCertificates" class="row g-3 col-12" asp-action="@nameof(CertificatesController.Create)" data-parsley-validate asp-controller="Certificates" method="post">
        <div class="col-6">
            <div class="card card-one">
                <div class="card-body row">

                    <div class="col-6">
                        <label for="inputaddress" class="form-label">@webLoyal.Resources.language.Resources.CertificateCode</label>
                        <input id="select2D" class="form-control">

                    </div>

                    <div class="col-6">
                        <label for="inputaddress" class="form-label">@webLoyal.Resources.language.Resources.TypeOfDocument</label>
                        <input id="select2D" class="form-control">

                    </div>

                    <div class="col-12">
                        <label for="inputaddress" class="form-label">@webLoyal.Resources.language.Resources.Name</label>
                        <input id="select2D" class="form-control">

                    </div>

                    <div class="col-12">
                        <label for="inputaddress" class="form-label">@webLoyal.Resources.language.Resources.Description</label>
                        <input id="select2D" class="form-control">

                    </div>

                    <div class="col-12">
                        <label for="inputaddress" class="form-label">@webLoyal.Resources.language.Resources.RegistrationDate</label>
                        <input id="datepicker" type="date" class="form-control">

                    </div>

                    <div class="col-12">
                        <label for="inputaddress" class="datepickers">@webLoyal.Resources.language.Resources.ExpirationDate</label>
                        <input id="datepicker3" type="date" class="form-control">

                    </div>

                    <div class="col-12">
                        <label for="inputaddress" class="form-label">@webLoyal.Resources.language.Resources.LogUser</label>
                        <input id="select2D" class="form-control">
                    </div>

                    <div class="col">
                        <button type="submit" class="btn btn-primary">@webLoyal.Resources.language.Resources.Create</button>
                    </div>        
                </div>
            </div>
        </div>

    </form>

</div>
@section Scripts{
    @*<script>
        $('#datepicker').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
    </script>
    @*<script>
        $('#datepicker3').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
    </script>*@
  }