@model core.Service.CampanaModel

<div class="d-md-flex align-items-center justify-content-between mb-4">
    <div>
        <ol class="breadcrumb fs-sm mb-1">
            <li class="breadcrumb-item"><a href="~/menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
            <li class="breadcrumb-item active"><a href="~/campaign/index">@webLoyal.Resources.language.Resources.Campaign</a></li>

        </ol>
        <h4 class="main-title mb-0">@webLoyal.Resources.language.Resources.Campaigns @Model.DtCampanas.DescripcionCampana</h4>
    </div>
    <div class="d-flex gap-2 mt-3 mt-md-0 align-items-end">
        <div class="col-6">
            <input type="date" id="FechaInicio" asp-for="@Model.DtCampanas.FechaInicio" class="form-control hasDatepicker" placeholder="From">
        </div><!-- col -->
        <div class="col-6">
            <input type="date" id="FechaFin" asp-for="@Model.DtCampanas.FechaFin" class="form-control hasDatepicker col-1" placeholder="To">
        </div><!-- col -->

        
    </div>
    <div class="d-flex gap-2 mt-3 mt-md-0">
        <button id="enviarDatos" class="btn btn-primary d-flex align-items-center gap-2">@webLoyal.Resources.language.Resources.UpdateData</button>
        @*<a href="~/home/InConstruction" type="button" class="btn btn-primary d-flex align-items-center gap-2"><span class="d-none d-sm-inline">@webLoyal.Resources.language.Resources.CreateNewCampaign</span></a>*@
        <div class="btn-group">
            <a href="~/campaign/Create" type="button" class="btn btn-primary d-flex align-items-center gap-2">@webLoyal.Resources.language.Resources.CreateNewCampaign</a>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="~/campaign/List">Listado</a></li>

            </ul>
        </div>
    </div>

</div>

<div class="row g-3">
    <div class="row">
       @* <input type="date" id="fecha1">
        <input type="date" id="fecha2">*@
        <div class="col-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-check form-switch">
                        @if (Model.DtDetalleCampanas.Any(x => x.FormaAnual))
                        {
                            <input id="FormaAnual" class="form-check-input" type="checkbox" role="switch" checked>
                        }
                        else
                        {
                            <input id="FormaAnual" class="form-check-input" type="checkbox" role="switch">

                        }
                        <label class="form-check-label" for="FormaAnual">@webLoyal.Resources.language.Resources.AnnualPaymentMethod</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-check form-switch">
                        @if (Model.DtDetalleCampanas.Any(x => x.FormaSemestral))
                        {
                            <input id="FormaSemestral" class="form-check-input" type="checkbox" role="switch" checked>
                        }
                        else
                        {
                            <input id="FormaSemestral" class="form-check-input" type="checkbox" role="switch">

                        }
                       
                        <label class="form-check-label" for="FormaSemestral">@webLoyal.Resources.language.Resources.SemiannualPaymentMethod</label>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-check form-switch">
                        @if (Model.DtDetalleCampanas.Any(x => x.FormaTrimestral))
                        {
                            <input id="FormaTrimestral" class="form-check-input" type="checkbox" role="switch" checked>
                        }
                        else
                        {
                            <input id="FormaTrimestral" class="form-check-input" type="checkbox" role="switch">

                        }
                       
                        <label class="form-check-label" for="FormaTrimestral">@webLoyal.Resources.language.Resources.QuarterlyPaymentMethod</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-check form-switch">
                        @if (Model.DtDetalleCampanas.Any(x => x.FormaMensual))
                        {
                            <input id="FormaMensual" class="form-check-input" type="checkbox" role="switch" checked>
                        }
                        else
                        {
                            <input id="FormaMensual" class="form-check-input" type="checkbox" role="switch">

                        }
                       
                        <label class="form-check-label" for="FormaMensual">@webLoyal.Resources.language.Resources.MonthlyPaymentMethod</label>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<div class="row g-3">
    <div class="row">
  
        @foreach (var producto in Model.CampanasProductos.OrderBy(x=>x.CodigoPoliza))
        {
            <div class="col-6 col-xl-3">
                <div class="music-player mt-4 mt-xxl-5" style="background-color:rgb(60,95,138)">
                    <div class="media-music">
                        @switch (producto.CodigoPoliza)
                        {
                            case 1:
                                <a href="background-color:rgb(60,95,138)" class="media-img"><img src="~/assets/img/beyond.png" alt=""></a>
                                break;
                            case 2:
                                <a href = "background-color:rgb(141,195,65)" class="media-img"><img src = "~/assets/img/privilege.png" alt=""></a>
                                break;
                            case 3:
                                <a href="background-color:rgb(48,182,181)" class="media-img"><img src="~/assets/img/liberty.png" alt=""></a>
                                break;
                            case 4:
                                <a href="background-color:rgb(132,26,102)" class="media-img"><img src="~/assets/img/legacy.png" alt=""></a>
                                break;

                        }

                    </div>
                    <div class="media-body">
                        <h5><a href="" class="text-white">@producto.DescripcionPoliza</a></h5>
                        <h6 class="card-value text-white">@webLoyal.Resources.language.Resources.Bonus: @producto.PrimaComisionable.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))</h6>
                        <h6 class="card-value text-white">@webLoyal.Resources.language.Resources.Policies: @producto.CantidadRegistros</h6>
                        <h6 class="d-block fs-xs text-success">
                        <span class="badge badge-pill bg-light">@producto.PorcentajeCantidadRegistros.ToString("P2")</span>
                        </h6>
                    </div>
                </div>
            </div>
        }
    @*  <div class="col-6 col-xl-3">
            <div class="music-player mt-4 mt-xxl-5" style="">
                <div class="media-music">
                    <a href="" class="media-img"><img src="" alt=""></a>

                </div>
                <div class="media-body">
                    <h5><a href="" class="text-white">valor</a></h5>
                    <h3 class="card-value text-white"># valor</h3>
                </div>
            </div>
        </div>        
        <div class="col-6 col-xl-3">
            <div class="music-player mt-4 mt-xxl-5" style="">
                <div class="media-music">
                    <a href="" class="media-img"><img src="" alt=""></a>

                </div>
                <div class="media-body">
                    <h5><a href="" class="text-white">valor</a></h5>
                    <h3 class="card-value text-white"># valor</h3>
                </div>
            </div>
        </div>
            <div class="col-6 col-xl-3">
            <div class="music-player mt-4 mt-xxl-5" style="">
                <div class="media-music">
                    <a href="" class="media-img"><img src="" alt=""></a>

                </div>
                <div class="media-body">
                    <h5><a href="" class="text-white">valor</a></h5>
                    <h3 class="card-value text-white"># valor</h3>
                </div>
            </div>
        </div>*@
    
</div>

</div>
<br />
<div class="row g-3">

    @foreach (var estados in Model.CampanasEstados.OrderBy(x=>x.CodigoEstadoCertificado))
    {
        <div class="col-2 col-xl-2">
            <div class="card card-one">
                <div class="card-header"><h5 class="card-title mb-1">@estados.DescripcionEstadoCertificado</h5></div>
                <div class="card-body">
                    
                    <h6 class="card-value mb-1">@webLoyal.Resources.language.Resources.Bonus @estados.PrimaComisionable.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))</h6>
                    <h6 class="card-value mb-1">@webLoyal.Resources.language.Resources.Policies @estados.CantidadRegistros</h6>
                    <h6 class="card-value mb-1">C.ADM @estados.CostoAdministrativo.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))</h6>
                   

                </div><!-- card-body -->
                <div class="card-footer">
                    <h6 class="card-value mb-1">@webLoyal.Resources.language.Resources.Representation:&nbsp<span class="d-block fs-xs text-success">@estados.PorcentajeCantidadRegistros.ToString("P2")</span></h6>
                </div>
            </div><!-- card-one -->
        </div>

        <!-- card-one -->
    }
    
</div>
<br />
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">@webLoyal.Resources.language.Resources.Policies</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">@webLoyal.Resources.language.Resources.TopAgents</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">@webLoyal.Resources.language.Resources.Criteria</button>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="col-lg-12 row g-3">

            <div class="card card-one mt-3">
                <div class="card-body p-3">
                    <div class="table-responsive">
                        <table id="Campanaatatablet" class="table table-borderless mb-0 dataTable-loading searchable">
                            <thead>
                                <tr>
                                    <th>@webLoyal.Resources.language.Resources.RequestCode</th>
                                    <td>@webLoyal.Resources.language.Resources.CertificateCode</td>
                                    <td>@webLoyal.Resources.language.Resources.PolicyNumber </td>
                                    <td>@webLoyal.Resources.language.Resources.OwnerCode</td>
                                    <td>@webLoyal.Resources.language.Resources.OwnerName</td>
                                    <td>@webLoyal.Resources.language.Resources.NumberInsured</td>
                                    <td>@webLoyal.Resources.language.Resources.CountryDescription</td>
                                    <td>@webLoyal.Resources.language.Resources.PolicyCode</td>
                                    <td>@webLoyal.Resources.language.Resources.DescriptionPolicy</td>
                                    <td>@webLoyal.Resources.language.Resources.DeductiblesText</td>
                                    <td>@webLoyal.Resources.language.Resources.DateEffectiveness</td>
                                    <td>@webLoyal.Resources.language.Resources.DescriptionFormPayment</td>
                                    <td>@webLoyal.Resources.language.Resources.DateCollection</td>
                                    <td>@webLoyal.Resources.language.Resources.Bonus</td>
                                    <td>@webLoyal.Resources.language.Resources.AdministrativeCost</td>
                                    <td>@webLoyal.Resources.language.Resources.CommissionablePremium</td>
                                    <td>@webLoyal.Resources.language.Resources.QuotaValue</td>
                                    <td>@webLoyal.Resources.language.Resources.ValueInterest</td>
                                    <td>@webLoyal.Resources.language.Resources.Restrictions</td>
                                    <td>@webLoyal.Resources.language.Resources.DescriptionStateCertificate</td>
                                    <td>@webLoyal.Resources.language.Resources.DescriptionReasonCancellation</td>
                                    <td>@webLoyal.Resources.language.Resources.DescriptionTypeSale</td>
                                    <td>@webLoyal.Resources.language.Resources.AutomaticPayment</td>
                                    <td>@webLoyal.Resources.language.Resources.AccidentRate</td>
                                    <td>@webLoyal.Resources.language.Resources.PolicyGroup</td>
                                    <td>@webLoyal.Resources.language.Resources.PolicyDependent</td>
                                    <td>@webLoyal.Resources.language.Resources.Notes</td>
                                    <td>@webLoyal.Resources.language.Resources.CodeAgentSale</td>
                                    <td>@webLoyal.Resources.language.Resources.PolicyGroup</td>
                                    <td>@webLoyal.Resources.language.Resources.NameAgentSale</td>
                                    <td>@webLoyal.Resources.language.Resources.NameSubAgent</td>
                                    <td>@webLoyal.Resources.language.Resources.SubAgentCode</td>
                                    <td>@webLoyal.Resources.language.Resources.AgentCode</td>
                                    <td>@webLoyal.Resources.language.Resources.AgencyName</td>
                                    <td>@webLoyal.Resources.language.Resources.AgencyCode</td>
                                    <td>@webLoyal.Resources.language.Resources.CodeStateQuota</td>
                                    <td>@webLoyal.Resources.language.Resources.CertificateStateCode</td>
                                    <td>@webLoyal.Resources.language.Resources.PayDay</td>
                                    <td>@webLoyal.Resources.language.Resources.CellPhone</td>
                                    <td>@webLoyal.Resources.language.Resources.Email</td>
                                    <td>@webLoyal.Resources.language.Resources.CodeMGA</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var campanas in Model.Campanas.OrderByDescending(x => x.CodigoCertificado))
                                {
                                    <tr>
                                        <td> @campanas.CodigoSolicitud </td>
                                        <td> @campanas.CodigoCertificado </td>
                                        <td><a href="~/policies/detail/@campanas.CodigoSolicitud"> @campanas.NumeroPoliza </a> </td>
                                        <td> @campanas.CodigoTitular </td>
                                        <td> @campanas.NombreTitular </td>
                                        <td> @campanas.NumeroAsegurados </td>
                                        <td> @campanas.DescripcionPais </td>
                                        <td> @campanas.CodigoPoliza </td>
                                        <td> @campanas.DescripcionPoliza </td>
                                        <td> @campanas.DeduciblesTexto </td>
                                        <td> @campanas.FechaEfectividad </td>
                                        <td> @campanas.DescripcionFormaPago </td>
                                        <td> @campanas.FechaCobro </td>
                                        <td> @campanas.Prima.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-US")) </td>
                                        <td> @campanas.CostoAdministrativo.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-US")) </td>
                                        <td> @campanas.PrimaComisionable.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-US")) </td>
                                        <td> @campanas.ValorCuota.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-US")) </td>
                                        <td> @campanas.ValorIntereses </td>
                                        <td> @campanas.Restricciones </td>
                                        <td> @campanas.DescripcionEstadoCertificado </td>
                                        <td> @campanas.DescripcionMotivoCancelacion </td>
                                        <td> @campanas.DescripcionTipoVenta </td>
                                        <td> @campanas.PagoAutomatico </td>
                                        <td> @campanas.Siniestralidad </td>
                                        <td> @campanas.PolizaGrupo </td>
                                        <td> @campanas.PolizaDependiente </td>
                                        <td> @campanas.Notas </td>
                                        <td> @campanas.CodigoAgenteVenta </td>
                                        <td> @campanas.PolizaGrupo </td>
                                        <td> @campanas.NombreAgenteVenta </td>
                                        <td> @campanas.NombreSubAgente </td>
                                        <td> @campanas.CodigoSubAgente </td>
                                        <td> @campanas.CodigoAgente </td>
                                        <td> @campanas.NombreAgencia </td>
                                        <td> @campanas.CodigoAgencia </td>
                                        <td> @campanas.CodigoEstadoCuota </td>
                                        <td> @campanas.CodigoEstadoCertificado </td>
                                        <td> @campanas.FechaPago </td>
                                        <td> @campanas.Celular </td>
                                        <td> @campanas.Correo </td>
                                        <td> @campanas.CodigoMGA </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div><!-- card-body -->
            </div>
        </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

        <div class="row g-3">
            @foreach (var item in Model.CampanasAgentes.OrderBy(x => x.Fila).Take(5))
            {
                <div class="col-2 col-xl-2">
                    <div class="card card-one">
                        <div class="card-header">
                            <h5 class="card-value fs-28 mb-0">
                                @item.Fila &nbsp
                                @switch (@item.Fila)
                                {
                                    case 1:
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        break;
                                    case 2:
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        break;
                                    case 3:
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        break;
                                    case 4:
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        break;
                                    case 5:
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        break;

                                }
                            </h5>
                        </div>
                        <div class="card-body">


                            <label class="card-value mb-1"><i class=""></i>@item.NombreAgenteVenta</label>
                            <label class="card-value mb-1"><i class=""></i>@webLoyal.Resources.language.Resources.Bonus:  @item.Prima.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-US")) </label>
                            <label class="card-value mb-1"><i class=""></i>@webLoyal.Resources.language.Resources.Policies: @item.Cantidad</label>

                        </div><!-- card-body -->
                    </div><!-- card-one -->
                </div>

            }
            <div class="col-md-6 col-xl-12">
                <div class="card card-one">
                    <div class="card-header">
                        <h6 class="card-title">@webLoyal.Resources.language.Resources.PerformanceRating </h6>
                        <div class="d-flex gap-1 text-primary fs-20">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-half-fill"></i>
                        </div>
                        @*<nav class="nav nav-icon nav-icon-sm ms-auto">
                            <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                            <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
                        </nav>*@
                    </div><!-- card-header -->
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>@webLoyal.Resources.language.Resources.Position</th>
                                    <th>@webLoyal.Resources.language.Resources.Code</th>
                                    <th>@webLoyal.Resources.language.Resources.Agents</th>
                                    <th>@webLoyal.Resources.language.Resources.Premiums</th>
                                    <th>@webLoyal.Resources.language.Resources.Policies</th>
                                    <th>@webLoyal.Resources.language.Resources.Percentage</th>
                           

                                </tr>
          
                            </thead>
                            @foreach (var item in Model.CampanasAgentes.OrderBy(x => x.Fila))
                            {
                                <tbody>
                                    <tr>
                                        <td><strong>@item.Fila</strong></td>
                                        @*<td>@item.CodigoMGA</td>
                                        <td>@item.NombreMGA</td>*@
                                        <td> <a href="../Agents/detail/@item.CodigoAgenteVenta" class="btn btn-outline-tertiary"> @item.CodigoAgenteVenta </a> </td>
@*                                        <td>@item.CodigoAgenteVenta</td>*@
                                        <td>@item.NombreAgenteVenta.Trim() &nbsp/&nbsp @item.NombreMGA.Trim()</td>
                                        <td>@item.Cantidad</td>
                                        <td>

                                            @item.Prima.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))</td>
                                        <td>
                                            @{
                                                decimal objetivo = 20000; // El valor objetivo
                                                decimal primaActual = @item.Prima; // El valor actual de la prima

                                                // Calcular el porcentaje de avance
                                                decimal porcentajeAvance = (primaActual / objetivo) * 1;
                                            }
                                            @porcentajeAvance.ToString("P2")
                                        </td>

                                        @*<td>
                                            <div class="progress" style="height: 20px;">
                                                <div class="progress-bar" role="progressbar" style="width: @porcentajeAvance.ToString("P2");" aria-valuenow="@porcentajeAvance" aria-valuemin="0" aria-valuemax="100">
                                                    @porcentajeAvance.ToString("P2")
                                                </div>
                                            </div>
                                        </td>*@
                                    </tr>
                                </tbody>


                            }


                        </table>
                    </div><!-- card-body -->
                </div><!-- card -->
            </div><!-- col -->
        </div>

  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

      <div class="card">
          <div class="card-body">
                <img src="~/assets/img/MIAMI-INV.jpg" />
          </div>

      </div>


  </div>
</div>
@*<div class="col-lg-12 row g-3">

    <div class="card card-one mt-3">
        <div class="card-body p-3">
            <div class="table-responsive">
                <table id="Claimdatatablet" class="table table-borderless mb-0 dataTable-loading searchable">
                    <thead>
                        <tr>
                            <th>CodigoSolicitud</th>
                            <th>CodigoCertificado</th>
                            <th>NumeroPoliza </th>
                            <th>CodigoTitular</th>
                            <th>NombreTitular</th>
                            <th>NumeroAsegurados</th>
                            <th>DescripcionPais</th>
                            <th>CodigoPoliza</th>
                            <th>DescripcionPoliza</th>
                            <th>DeduciblesTexto</th>
                            <th>FechaEfectividad</th>
                            <th>DescripcionFormaPago</th>
                            <th>FechaCobro</th>
                            <th>Prima</th>
                            <th>CostoAdministrativo</th>
                            <th>PrimaComisionable</th>
                            <th>ValorCuota</th>
                            <th>ValorIntereses</th>
                            <th>Restricciones</th>
                            <th>DescripcionEstadoCertificado</th>
                            <th>DescripcionMotivoCancelacion</th>
                            <th>DescripcionTipoVenta</th>
                            <th>PagoAutomatico</th>
                            <th>Siniestralidad</th>
                            <th>PolizaGrupo</th>
                            <th>PolizaDependiente</th>
                            <th>Notas</th>
                            <th>CodigoAgenteVenta</th>
                            <th>PolizaGrupo</th>
                            <th>NombreAgenteVenta</th>
                            <th>NombreSubAgente</th>
                            <th>CodigoSubAgente</th>
                            <th>CodigoAgente</th>
                            <th>NombreAgencia</th>
                            <th>CodigoAgencia</th>
                            <th>CodigoEstadoCuota</th>
                            <th>CodigoEstadoCertificado</th>
                            <th>FechaPago</th>
                            <th>Celular</th>
                            <th>Correo</th>
                            <th>CodigoMGA</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>


                    </tbody>
                </table>
            </div>
        </div><!-- card-body -->
    </div>
</div>
*@

@section Scripts{
    <script>

        $(document).ready(function () {
            $("#enviarDatos").on("click", function () {
                enviarPeticionAlControlador();
            });
        });

        function enviarPeticionAlControlador() {
            // Obtener los valores
            var boolw1 = $("#FormaAnual").prop("checked");
            var boolw2 = $("#FormaSemestral").prop("checked");
            var boolw3 = $("#FormaTrimestral").prop("checked");
            var boolw4 = $("#FormaMensual").prop("checked");
            var fecha1 = $("#FechaInicio").val();
            var fecha2 = $("#FechaFin").val();

            // Crear la URL de la petición GET
            var nuevaURL = "/campaign/Index?CodigoCampana=25" +
                "&FormaAnual=" + boolw1 +
                "&FormaSemestral=" + boolw2 +
                "&FormaTrimestral=" + boolw3 +
                "&FormaMensual=" + boolw4 +
                "&FechaInicio=" + fecha1 +
                "&FechaFin=" + fecha2;

            // Redirigir al controlador
            window.location.href = nuevaURL;

            // Mostrar Sweet Alert
            Swal.fire({
                icon: 'success',
                title: 'Petición Enviada',
                text: 'La petición ha sido enviada correctamente.',
                        showConfirmButton: false
            });
        }




        $("#Campanaatatablet").DataTable({
            searchPanes: {
                viewTotal: true
            },
            searchBuilder: true,
            sort: true,
            resizable: true,
            responsive: true,
            class: 'table table-borderless mb-0 dataTable-loading searchable dataTable-wrapper no-footer sortable fixed-columns table-striped',
            fixedColumns: true,
            order: [[0, "desc"]],
            dom: 'Bfrt<"col-md-6 inline"i> <"col-md-6 inline"p>',
            buttons: [
                {
                    extend: 'excelHtml5',
                    autoFilter: true,
                    className: 'btn btn-outline-primary',
                    filename: '@nameof(core.Service.PoliciesDetailModel)Excel',
                },
                {
                    extend: 'pdfHtml5',
                    className: 'btn btn-outline-primary',
                    filename: '@nameof(core.Service.PoliciesDetailModel)Pdf',
                },
                {
                    extend: 'print',
                    className: 'btn btn-outline-primary',
                    title: '',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        // Personaliza la apariencia de la página impresa si es necesario
                    }
                }
            ]
        });




    </script>

}