<div class="d-md-flex align-items-center justify-content-between mb-4">
    <div>
        <ol class="breadcrumb fs-sm mb-1">
            <li class="breadcrumb-item"><a href="~/menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
     @*       <li class="breadcrumb-item active"><a href="~/campaign/index"></a></li>*@

        </ol>
        <h4 class="main-title mb-0"> </h4>
    </div>

    <div class="d-flex gap-2 mt-3 mt-md-0">
       
    </div>
    </div>



<div id="miVistaParcialContainer"></div>
<button id="actualizarBtn">Actualizar Vista Parcial</button>


@*<div class="">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a href="#">@webLoyal.Resources.language.Resources.Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">@webLoyal.Resources.language.Resources.ClaimsFigures</li>
            </ol>
            <h4 class="main-title mb-0">@webLoyal.Resources.language.Resources.WelcomeToDashboard</h4>
        </div>

        <nav class="nav nav-icon nav-icon-lg">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">@webLoyal.Resources.language.Resources.Year</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">@webLoyal.Resources.language.Resources.Month</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">@webLoyal.Resources.language.Resources.Week</label>
            </div>

        </nav>
        <button type="button" class="btn btn-primary d-flex align-items-center gap-2"><i class="ri-bar-chart-2-line fs-18 lh-1"></i>@webLoyal.Resources.language.Resources.Generate<span class="d-none d-sm-inline"> @webLoyal.Resources.language.Resources.NewClaim</span></button>
    </div>

    <div class="row g-3">
        <div class="col-6 col-xl-3">
            <div class="card card-one">
                <div class="card-body">
                    <label class="card-title fs-sm fw-medium mb-1">@webLoyal.Resources.language.Resources.UniquePurchases</label>
                    <h3 class="card-value mb-1"><i class="ri-shopping-bag-3-line"></i> 8,327</h3>
                    <small><span class="d-inline-flex text-danger">0.7% <i class="ri-arrow-down-line"></i></span> @webLoyal.Resources.language.Resources.ThanLastWeek</small>
                </div><!-- card-body -->
            </div><!-- card-one -->
        </div><!-- col -->
        <div class="col-6 col-xl-3">
            <div class="card card-one">
                <div class="card-body">
                    <label class="card-title fs-sm fw-medium mb-1">@webLoyal.Resources.language.Resources.OrderValue</label>
                    <h3 class="card-value mb-1"><i class="ri-briefcase-4-line"></i> <span>$</span>12,105</h3>
                    <small><span class="d-inline-flex text-success">2.1% <i class="ri-arrow-up-line"></i></span> @webLoyal.Resources.language.Resources.ThanLastWeek</small>
                </div><!-- card-body -->
            </div><!-- card-one -->
        </div><!-- col -->
        <div class="col-6 col-xl-3">
            <div class="card card-one">
                <div class="card-body">
                    <label class="card-title fs-sm fw-medium mb-1">@webLoyal.Resources.language.Resources.OrderQuantity</label>
                    <h3 class="card-value mb-1"><i class="ri-inbox-line"></i> 4,598</h3>
                    <small><span class="d-inline-flex text-danger">0.3% <i class="ri-arrow-down-line"></i></span> @webLoyal.Resources.language.Resources.ThanLastWeek</small>
                </div><!-- card-body -->
            </div><!-- card-one -->
        </div><!-- col -->
        <div class="col-6 col-xl-3">
            <div class="card card-one">
                <div class="card-body">
                    <label class="card-title fs-sm fw-medium mb-1">@webLoyal.Resources.language.Resources.ConversionRate</label>
                    <h3 class="card-value mb-1"><i class="ri-bar-chart-box-line"></i> 6.28<span>%</span></h3>
                    <small><span class="d-inline-flex text-success">1.2% <i class="ri-arrow-up-line"></i></span> @webLoyal.Resources.language.Resources.ThanLastWeek</small>
                </div><!-- card-body -->
            </div><!-- card-one -->
        </div><!-- col -->
        <div class="col-md-6 col-xl-4">
            <div class="card card-one">
                <div class="card-header">
                    <h6 class="card-title">
                        @webLoyal.Resources.language.Resources.TopSuppliers
                    </h6>
                    <nav class="nav nav-icon nav-icon-sm ms-auto">
                        <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                        <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
                    </nav>
                </div><!-- card-header -->
                <div class="card-body">
                    <ul class="list-group list-group-one">
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-orange text-white"><i class="cf cf-btc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Farmatodo, C.A
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$4,000.19</h6>
                                <small class="text-success">0.27%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-twitter text-white"><i class="cf cf-eth"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Policlínica Metropolitana
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$138.90</h6>
                                <small class="text-success">0.35%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-litecoin text-white"><i class="cf cf-ltc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Centro Médico Loira C.A
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$59.95</h6>
                                <small class="text-success">0.05%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-success text-white"><i class="cf cf-btc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Farmacia Veramed C.A
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$160.28</h6>
                                <small class="text-danger">-0.19%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-primary text-white"><i class="cf cf-dash"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Clinica Santa Sofia
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$92.20</h6>
                                <small class="text-danger">-0.21%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-ui-02 text-white"><i class="cf cf-bsd"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Clinica El Avila
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$56.53</h6>
                                <small class="text-success">2.86%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-pink text-white"><i class="cf cf-bcn"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Urologico San Roman C.A
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$0.76</h6>
                                <small class="text-danger">-1.32%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-info text-white"><i class="cf cf-dmd"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Unidad Oftalmologica de Caracas
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$280.80</h6>
                                <small class="text-success">2.01%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-danger text-white"><i class="cf cf-emc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Centro Médico Docente La Trinidad
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$48.25</h6>
                                <small class="text-success">1.22%</small>
                            </div>
                        </li>
                    </ul>
                </div><!-- card-body -->
            </div><!-- card -->
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card card-one">
                <div class="card-header">
                    <h6 class="card-title">@webLoyal.Resources.language.Resources.TopAgents</h6>
                    <nav class="nav nav-icon nav-icon-sm ms-auto">
                        <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                        <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
                    </nav>
                </div><!-- card-header -->
                <div class="card-body">
                    <ul class="list-group list-group-one">
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-orange text-white"><i class="cf cf-btc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Yuseff Ali Bulhosen
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">
                                    $9,817.43
                                </h6>
                                <small class="text-success">
                                    3.13%

                                </small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-twitter text-white"><i class="cf cf-eth"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Gabriel Ali Bustamente Joves
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">
                                    $9,593.30
                                </h6>
                                <small class="text-success">
                                    6.25%
                                </small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-litecoin text-white"><i class="cf cf-ltc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Jose Luis Quintana Rivas

                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">
                                    $7,221.93
                                </h6>
                                <small class="text-success">
                                    7.81%
                                </small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-success text-white"><i class="cf cf-btc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Alejandro José Vasquez Silva

                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">
                                    $6,665.88
                                </h6>
                                <small class="text-success">
                                    1.56%
                                </small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-primary text-white"><i class="cf cf-dash"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Abel Alonso Soto Suarez

                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">
                                    $5,030.95
                                </h6>
                                <small class="text-info">
                                    3.13%
                                </small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-ui-02 text-white"><i class="cf cf-bsd"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Jose Lacle Becerra Jaimes

                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">
                                    $3,937.48
                                </h6>
                                <small class="text-success">
                                    1.56%
                                </small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-pink text-white"><i class="cf cf-bcn"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Antonio Basin Aviles
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">
                                    $3,626.48
                                </h6>
                                <small class="text-danger">
                                    7.81%
                                </small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-info text-white"><i class="cf cf-dmd"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Mireya Maria Bogado
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">
                                    $2,322.10
                                </h6>
                                <small class="text-success">
                                    29.69%
                                </small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-danger text-white"><i class="cf cf-emc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Jacob Joshua Baraja

                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">
                                    $2,071.26
                                </h6>
                                <small class="text-success">
                                    6.25%
                                </small>
                            </div>
                        </li>
                    </ul>
                </div><!-- card-body -->
            </div><!-- card -->
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card card-one">
                <div class="card-header">
                    <h6 class="card-title">@webLoyal.Resources.language.Resources.TopInsured</h6>
                    <nav class="nav nav-icon nav-icon-sm ms-auto">
                        <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                        <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
                    </nav>
                </div><!-- card-header -->
                <div class="card-body">
                    <ul class="list-group list-group-one">
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-orange text-white"><i class="cf cf-btc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Farmatodo, C.A
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$4,000.19</h6>
                                <small class="text-success">0.27%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-twitter text-white"><i class="cf cf-eth"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Policlínica Metropolitana
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$138.90</h6>
                                <small class="text-success">0.35%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-litecoin text-white"><i class="cf cf-ltc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Centro Médico Loira C.A
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$59.95</h6>
                                <small class="text-success">0.05%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-success text-white"><i class="cf cf-btc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Farmacia Veramed C.A
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$160.28</h6>
                                <small class="text-danger">-0.19%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-primary text-white"><i class="cf cf-dash"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Clinica Santa Sofia
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$92.20</h6>
                                <small class="text-danger">-0.21%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-ui-02 text-white"><i class="cf cf-bsd"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Clinica El Avila
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$56.53</h6>
                                <small class="text-success">2.86%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-pink text-white"><i class="cf cf-bcn"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Urologico San Roman C.A
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$0.76</h6>
                                <small class="text-danger">-1.32%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-info text-white"><i class="cf cf-dmd"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Unidad Oftalmologica de Caracas
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$280.80</h6>
                                <small class="text-success">2.01%</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-danger text-white"><i class="cf cf-emc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    Centro Médico Docente La Trinidad
                                </h6>
                                <small>USD</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">$48.25</h6>
                                <small class="text-success">1.22%</small>
                            </div>
                        </li>
                    </ul>
                </div><!-- card-body -->
            </div><!-- card -->
        </div>

    </div><!-- row -->





</div>*@
@section Scripts{
    <script>
                                 $(document).ready(function () {
            // Llamada AJAX para cargar la vista parcial
            $.ajax({
                url: '@Url.Action("MiVistaParcial", "Dash")',
                type: 'GET',
                success: function (data) {
                    $('#miVistaParcialContainer').html(data);
                }
            });

            // Manejador de evento para el botón
            $('#actualizarBtn').click(function () {
                $.ajax({
                    url: '@Url.Action("MiVistaParcial", "Dash")',
                    type: 'GET',
                    success: function (data) {
                        $('#miVistaParcialContainer').html(data);
                    }
                });
            });
        });
        //var options = {
        //    series: [{
        //        data: [44, 55, 41, 64, 22, 43, 21]
        //    }, {
        //        data: [53, 32, 33, 52, 13, 44, 32]
        //    }],
        //    chart: {
        //        type: 'bar',
        //        height: 430
        //    },
        //    plotOptions: {
        //        bar: {
        //            horizontal: true,
        //            dataLabels: {
        //                position: 'top',
        //            },
        //        }
        //    },
        //    dataLabels: {
        //        enabled: true,
        //        offsetX: -6,
        //        style: {
        //            fontSize: '12px',
        //            colors: ['#fff']
        //        }
        //    },
        //    stroke: {
        //        show: true,
        //        width: 1,
        //        colors: ['#fff']
        //    },
        //    tooltip: {
        //        shared: true,
        //        intersect: false
        //    },
        //    xaxis: {
        //        categories: [2001, 2002, 2003, 2004, 2005, 2006, 2007],
        //    },
        //};

        //var chart = new ApexCharts(document.querySelector("#chart"), options);
        //chart.render();


    </script>
        }