@model core.Service.ActivationModel
@using core.Service


<form id="@nameof(PoliciesController.Activation)" onsubmit="mostraralertActivation(event)" method="post" asp-action="Activation" asp-controller="Policies">
    <div class="modal-header">
        <h5 class="modal-title">@webLoyal.Resources.language.Resources.Active</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <input asp-for="CodigoCertificado" value="@Model.CodigoCertificado" hidden="true" />
    <label>@ViewBag.CodigoCertificado</label>
    <div class="modal-body">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading"><i class="ri-information-line"></i> @webLoyal.Resources.language.Resources.Active</h4>
            <p>@webLoyal.Resources.language.Resources.ActiveMsj</p>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@webLoyal.Resources.language.Resources.Cancel</button>
        <button type="submit" id="submitButton" class="btn btn-primary">@webLoyal.Resources.language.Resources.Accept</button>

    </div>
</form>
