@model core.Service.RecodeAgentModel
@using core.Service

@{
    List<ListaAgentesModel> listaDeModelos = ViewBag.ListaDeModelos;}



<form id="@nameof(PoliciesController.RecodeAgent)" onsubmit="mostraralert(event)" method="post" asp-action="RecodeAgent" asp-controller="Policies">
    <div class="modal-header">
        <h5 class="modal-title">@webLoyal.Resources.language.Resources.Recordings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <input asp-for="CodigoCertificado"value="@Model.CodigoCertificado" hidden="true"/>
    <label>@ViewBag.CodigoCertificado</label>
    <div class="modal-body"> 
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading"><i class="ri-information-line"></i> @webLoyal.Resources.language.Resources.Warning</h4>
            <p>@webLoyal.Resources.language.Resources.AgentRecodingWarning</p>

        </div>
        <div class="mb-3">
            <label class="form-label">@webLoyal.Resources.language.Resources.Agent</label>
            <select asp-for="CodigoAgente" id="CodigoAgente" class="form-select select2" required>
                @foreach (var agentes in listaDeModelos.OrderBy(x => x.CodigoAgente))
                {
                    <option value="@agentes.CodigoAgente">@agentes.NombreAgente | @agentes.DescripcionTipoAgente |@agentes.DescripcionEstadoAgente</option>
                }
            </select>
            <span asp-validation-for="CodigoAgente" class="text-danger"></span>
        </div>
        <div>
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea asp-for="Nota" class="form-control" id="Nota" rows="3" placeholder="@webLoyal.Resources.language.Resources.EnterMsj" required></textarea>
            <span asp-validation-for="Nota" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@webLoyal.Resources.language.Resources.Cancel</button>
        <button type="submit" id="submitButton" class="btn btn-primary">@webLoyal.Resources.language.Resources.Accept</button>

    </div>
</form>
