@model List<core.Service.CertificadosModel>

            <div class="d-md-flex align-items-center justify-content-between mb-4">
                <div>
                    <ol class="breadcrumb fs-sm mb-1">
                        <li class="breadcrumb-item active"><a href="../menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                        <li class="breadcrumb-item"><a href="../Policies/index">Polizas</a></li>

                    </ol>
                <h4 class="main-title mb-0">Polizas</h4>
                </div>
                <nav class="nav nav-icon nav-icon-lg">

                    <a href="javascript:void(0);" class="nav-link" title="Refrescar" onclick="showSweetAlert()"><i class="ri-refresh-line"></i></a>

                </nav>
            </div>
        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-9">
                    @await Component.InvokeAsync("PoliciesProduct")
                    <br />
                    @await Component.InvokeAsync("PoliciesStatus")
                    <br />
                </div>
                <div class="col-xl-3">
                    @await Component.InvokeAsync("PoliciesLives")

                </div>
            </div>
        </div>
                    <div class="row g-3">
                        <div class="col-xl-12">
                            <div class="card card-one mt-3">
                                <div class="card-body p-3">
                                    <div class="table-responsive">
                    <table id="policies" class="stripe hover display compact">
                                            <thead>
                                                <tr>
                                                    <th>CodigoSolicitud</th>
                                                    <th>NumeroPoliza</th>
                                                    <th>TipoVenta</th>
                                                    <th>NombreCompleto</th>
                                                    <td>EstadoCertificado</td>
                                                    <td>NumeroAsegurados</td>
                                                    <td>Poliza</td>
                                                    <td>Pais</td>
           
                                                    <td>FechaInicioVigencia</td>
                                                    <td>FormaPago</td>
                                                    <td>Prima</td>
                                                    <td>PrimaComisionable</td>
                                                    <td>Descripcion detallada del Plan</td>
                                                    <td>MotivoCancelacion</td>
                                                    <td>NumeroCuota</td>
                                                    <td>EstadoCuota</td>
                                                    <td>NombreAgencia</td>
                                                    <td>NombreAgente</td>


                                
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td><a class="btn btn-outline-tertiary"> @item.CodigoSolicitud</a></td>
                                                        <td><a href="~/Policies/Detail/@item.CodigoSolicitud" class="btn btn-link">@item.NumeroPoliza</a></td>
                               
                                                        @switch (item.DescripcionTipoVenta)
                                                        {
                                                   
                                                            case "Renovaciones":
                                                                <td> <span class="badge bg-primary"> @item.DescripcionTipoVenta</span> </td>
                                                            break;
                                                            case "Nuevo Negocio":
                                                                <td> <span class="badge bg-info"> @item.DescripcionTipoVenta</span> </td>
                                                                break;
                                                            default:
                                                                <td> <span class="badge bg-info"> @item.DescripcionTipoVenta</span> </td>
                                                                break;
                                                        }



                                                        <td>@item.NombreCompleto</td>
                                                        @switch (item.CodigoEstadoCertificado)
                                                        {
                                                            case "01":
                                                                <td> <span class="badge bg-warning"> @item.DescripcionEstadoCertificado</span> </td>
                                                                break;
                                                            case "02":
                                                                <td> <span class="badge bg-info"> @item.DescripcionEstadoCertificado</span> </td>
                                                                break;
                                                            case "03":
                                                                <td> <span class="badge text-bg-success"> @item.DescripcionEstadoCertificado</span> </td>
                                                                break;
                                                            case "04":
                                                                <td> <span class="badge bg-danger"> @item.DescripcionEstadoCertificado</span> </td>
                                                                break;
                                                            case "05":
                                                                <td> <span class="badge bg-info"> @item.DescripcionEstadoCertificado</span> </td>
                                                                break;
                                                            case "06":
                                                                <td> <span class="badge bg-danger"> @item.DescripcionEstadoCertificado</span> </td>
                                                                break;
                                                            case "07":
                                                                <td> <span class="badge bg-info"> @item.DescripcionEstadoCertificado</span> </td>
                                                                break;
                                                            case "08":
                                                                <td> <span class="badge bg-warning"> @item.DescripcionEstadoCertificado</span> </td>
                                                                break;
                                                            case "09":
                                                                <td> <span class="badge bg-warning"> @item.DescripcionEstadoCertificado</span> </td>
                                                                break;
                                                            default:
                                                                <td> <span class="badge bg-info"> @item.DescripcionEstadoCertificado</span> </td>
                                                                break;
                                                        }

                                                        <td>@item.NumeroAsegurados</td>
                                                        <td>@item.DescripcionPoliza</td>
                                                        <td>@item.DescripcionPais</td>

                                    <td>@item.FechaInicioVigencia.ToString("MM/dd/yyyy")</td>
                                                        <td>@item.DescripcionFormaPago</td>
                                                        <td>
                                                            @item.Prima.ToString("###.##")</td>
                                                        <td>@item.PrimaComisionable.ToString("###.##")</td>
                                                        <td>@item.DescripcionPlan</td>
                                                        <td>@item.DescripcionMotivoCancelacion</td>
                                                        <td>@item.NumeroCuota</td>
                                                        <td>@item.DescripcionEstadoCuota</td>
                                                        <td><a class="btn btn-link">@item.NombreAgencia</a></td>
                                                        <td><a class="btn btn-link">@item.NombreAgente</a></td>




                                                    </tr>

                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- card-body -->
                            </div>
                        </div><!-- col -->
                    </div><!-- col -->



@section Scripts{
    <script>
        initDataTable("policies");
        document.addEventListener("DOMContentLoaded", function () {
            startInterval();
        });

        // Función para mostrar un mensaje con un temporizador de cierre automático
        function showSweetAlert() {
            Swal.fire({
                position: 'top',
                text: 'Actualizando',

                timer: 2000, // 2 segundos
                timerProgressBar: true,
                showConfirmButton: false,
            }).then(() => {
                location.reload(); // Refrescar la página después de cerrar la alerta
            });
        }

        // Función para comenzar el intervalo de 1 minuto con conteo regresivo de 10 segundos
        function startInterval() {
            let countdown = 10;

            const interval = setInterval(() => {
                Swal.fire({
                    position: 'top',
                    text: 'Actualizando',

                    timer: 2000, // 2 segundos
                    timerProgressBar: true,
                    showConfirmButton: false,
                }).then(() => {
                    location.reload(); // Refrescar la página después de cerrar la alerta
                });

                countdown--;

                if (countdown < 0) {
                    clearInterval(interval);
                    showSweetAlert(); // Ejecutar la función después del conteo regresivo
                }
            }, 5000000); // 1 segundo
        }



    </script>
}
