
    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a href="~/menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                <li class="breadcrumb-item active" aria-current="page">@webLoyal.Resources.language.Resources.InConstructionMsj</li>
            </ol>
            <h4 class="main-title mb-0"></h4>
        </div>
        <div class="d-flex gap-2 mt-3 mt-md-0">
            
        </div>
    </div>
    
    <div class="page-error">
        <div class="content">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-lg-5 d-flex flex-column align-items-center">
                        <h2 class="error-title">@webLoyal.Resources.language.Resources.InConstructionMsj</h2>
                        <p class="error-text">@webLoyal.Resources.language.Resources.InConstructionOoppsMsj</p>
                        <a href="~/menu/index" class="btn btn-primary btn-error">@webLoyal.Resources.language.Resources.BackHome</a>
                    </div>
                    <div class="col-8 col-lg-6 mb-5 mb-lg-0">
                        <object type="image/svg+xml" data="../assets/svg/qa_engineers.svg" class="w-100"></object>
                    </div>
                </div>
            </div>
        </div>
    </div>
