@*<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>*@



<div class="row row-cols-auto g-4 g-xxl-5">

    <div class="col-xl">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a href="#">@webLoyal.Resources.language.Resources.Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">@webLoyal.Resources.language.Resources.StorageManagement</li>
            </ol>

        </div>




        <nav class="nav nav-line mb-4">
            <a href="#claim" class="nav-link active">@webLoyal.Resources.language.Resources.Claim</a>
            <a href="#NewClaim" class="nav-link">@webLoyal.Resources.language.Resources.CreateClaim</a>
            
        </nav>

        <section id="claim" class="row g-3 g-lg-4">
            <div class="col-md">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <label class="task-label">@webLoyal.Resources.language.Resources.InProgress</label>
                    <div class="dropdown dropdown-task">
                        <a href="" class="dropdown-link">@webLoyal.Resources.language.Resources.DateAdded<i class="ri-arrow-down-s-line"></i></a>
                        <div class="dropdown-menu">
                            ...
                        </div><!-- dropdown-menu -->
                    </div><!-- dropdown -->
                </div>
                <div class="card card-task">
                    <div class="card-body p-3 pb-1">
                        <span class="badge bg-success">@webLoyal.Resources.language.Resources.Design</span>
                        <div class="d-flex flex-row-reverse align-items-center justify-content-between mt-2 mb-1">
                            <span class="card-date">@webLoyal.Resources.language.Resources.Today</span>
                            <h6 class="card-title">@webLoyal.Resources.language.Resources.CreateIllustrations</h6>
                        </div>
                        <p class="fs-xs">@webLoyal.Resources.language.Resources.AssignedBy: <a href="">Dyanne Rose</a></p>
                        <p class="fs-sm">Lorem ipsum dolor sit amet, consec tetur adi piscing elit folor itamet...</p>

                        <div class="d-flex align-items-center justify-content-between fs-xs text-secondary mb-1">
                            <span><strong class="fw-medium">54%</strong>@webLoyal.Resources.language.Resources.Complete</span>
                            <span>3 @webLoyal.Resources.language.Resources.HoursLeft</span>
                        </div>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-info w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- card-body -->
                    <div class="card-footer p-3 pt-0">
                        <div class="mutual-badge">
                            <ul>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                            </ul>
                        </div>
                        <nav class="nav">
                            <a href="" class="nav-link"><i class="ri-eye-2-line"></i> 11</a>
                            <a href="" class="nav-link"><i class="ri-chat-1-line"></i> 2</a>
                        </nav>
                    </div><!-- card-footer -->
                </div><!-- card-task -->

                <div class="card card-task">
                    <div class="card-body p-3 pb-1">
                        <span class="badge bg-info">@webLoyal.Resources.language.Resources.Promotions</span>
                        <div class="d-flex flex-row-reverse align-items-center justify-content-between mt-2 mb-1">
                            <span class="card-date">@webLoyal.Resources.language.Resources.Tomorrow</span>
                            <h6 class="card-title">@webLoyal.Resources.language.Resources.BuildPromotionStrategy</h6>
                        </div>
                        <p class="fs-xs">@webLoyal.Resources.language.Resources.AssignedBy: <a href="">Reynante Labares</a></p>

                        <div class="d-flex align-items-center justify-content-between fs-xs text-secondary mb-1">
                            <span><strong class="fw-medium">74%</strong>@webLoyal.Resources.language.Resources.Complete</span>
                            <span>1 @webLoyal.Resources.language.Resources.DayLeft</span>
                        </div>
                        <div class="progress mb-2">
                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- card-body -->
                    <div class="card-footer p-3 pt-0">
                        <div class="mutual-badge">
                            <ul>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                            </ul>
                        </div>
                        <nav class="nav">
                            <a href="" class="nav-link"><i class="ri-eye-2-line"></i> 4</a>
                            <a href="" class="nav-link"><i class="ri-chat-1-line"></i> 5</a>
                        </nav>
                    </div><!-- card-footer -->
                </div><!-- card-task -->
                <div class="card card-task">
                    <div class="card-body p-3 pb-1">
                        <span class="badge bg-pink">@webLoyal.Resources.language.Resources.Marketing</span>
                        <div class="d-flex flex-row-reverse align-items-center justify-content-between mt-2 mb-1">
                            <span class="card-date">Aug 08</span>
                            <h6 class="card-title">@webLoyal.Resources.language.Resources.RunMarketResearch</h6>
                        </div>
                        <p class="fs-xs">@webLoyal.Resources.language.Resources.AssignedBy: <a href="">Lea Chua</a></p>

                        <div class="d-flex align-items-center justify-content-between fs-xs text-secondary mb-1">
                            <span><strong class="fw-medium">20%</strong>@webLoyal.Resources.language.Resources.Complete</span>
                            <span>3 @webLoyal.Resources.language.Resources.DaysLeft</span>
                        </div>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-danger w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- card-body -->
                    <div class="card-footer p-3 pt-0">
                        <div class="mutual-badge">
                            <ul>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                            </ul>
                        </div>
                        <nav class="nav">
                            <a href="" class="nav-link"><i class="ri-eye-2-line"></i> 1</a>
                            <a href="" class="nav-link"><i class="ri-chat-1-line"></i> 0</a>
                        </nav>
                    </div><!-- card-footer -->
                </div><!-- card-task -->

                <div class="card card-task">
                    <div class="card-body p-3 pb-1">
                        <span class="badge bg-success">@webLoyal.Resources.language.Resources.Design</span>
                        <span class="badge bg-primary">@webLoyal.Resources.language.Resources.Updates</span>
                        <div class="d-flex flex-row-reverse align-items-center justify-content-between mt-2 mb-1">
                            <span class="card-date">Aug 10</span>
                            <h6 class="card-title">Architecto beatae vitae dicta</h6>
                        </div>
                        <p class="fs-xs">@webLoyal.Resources.language.Resources.Assignedby: <a href="">Rolando Paloso</a></p>
                        <p class="fs-sm">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit...</p>

                        <div class="d-flex align-items-center justify-content-between fs-xs text-secondary mb-1">
                            <span><strong class="fw-medium">54%</strong>@webLoyal.Resources.language.Resources.Complete</span>
                            <span>5 @webLoyal.Resources.language.Resources.DaysLeft</span>
                        </div>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-info w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- card-body -->
                    <div class="card-footer p-3 pt-0">
                        <div class="mutual-badge">
                            <ul>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                            </ul>
                        </div>
                        <nav class="nav">
                            <a href="" class="nav-link"><i class="ri-eye-2-line"></i> 2</a>
                            <a href="" class="nav-link"><i class="ri-chat-1-line"></i> 5</a>
                        </nav>
                    </div><!-- card-footer -->
                </div><!-- card-task -->

            </div><!-- col -->
            <div class="col-md mt-5 mt-md-3 mt-lg-4">

                <div class="d-flex align-items-center justify-content-between mb-3">
                    <label class="task-label">@webLoyal.Resources.language.Resources.Upcoming</label>
                    <div class="dropdown dropdown-task">
                        <a href="" class="dropdown-link">@webLoyal.Resources.language.Resources.DateAdded<i class="ri-arrow-down-s-line"></i></a>
                        <div class="dropdown-menu">
                            ...
                        </div><!-- dropdown-menu -->
                    </div><!-- dropdown -->
                </div>
                <div class="card card-task">
                    <div class="card-body p-3 pb-1">
                        <span class="badge bg-info">@webLoyal.Resources.language.Resources.Promotions</span>
                        <span class="badge bg-primary">@webLoyal.Resources.language.Resources.Updates</span>
                        <div class="d-flex flex-row-reverse align-items-center justify-content-between mt-2 mb-1">
                            <span class="card-date">Sep 20</span>
                            <h6 class="card-title">@webLoyal.Resources.language.Resources.CreatePromotionStrategy</h6>
                        </div>
                        <p class="fs-xs">@webLoyal.Resources.language.Resources.AssignedBy: <a href="">Roel Recamadas</a></p>

                        <div class="d-flex align-items-center justify-content-between fs-xs text-secondary mb-1">
                            <span><strong class="fw-medium">0%</strong>@webLoyal.Resources.language.Resources.Complete</span>
                            <span>2 @webLoyal.Resources.language.Resources.Weeks</span>
                        </div>
                        <div class="progress mb-2">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- card-body -->
                    <div class="card-footer p-3 pt-0">
                        <div class="mutual-badge">
                            <ul>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                            </ul>
                        </div>
                        <nav class="nav">
                            <a href="" class="nav-link"><i class="ri-eye-2-line"></i> 2</a>
                            <a href="" class="nav-link"><i class="ri-chat-1-line"></i> 0</a>
                        </nav>
                    </div><!-- card-footer -->
                </div><!-- card-task -->

                <div class="card card-task">
                    <div class="card-body p-3 pb-1">
                        <span class="badge bg-success">@webLoyal.Resources.language.Resources.Design</span>
                        <span class="badge bg-pink">@webLoyal.Resources.language.Resources.Marketing</span>
                        <div class="d-flex flex-row-reverse align-items-center justify-content-between mt-2 mb-1">
                            <span class="card-date">Sep 25</span>
                            <h6 class="card-title">@webLoyal.Resources.language.Resources.CreateNewLandingPage</h6>
                        </div>
                        <p class="fs-xs">@webLoyal.Resources.language.Resources.AssignedBy: <a href="">Charles Castil</a></p>
                        <p class="fs-sm">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...</p>

                        <div class="d-flex align-items-center justify-content-between fs-xs text-secondary mb-1">
                            <span><strong class="fw-medium">0%</strong>@webLoyal.Resources.language.Resources.Complete</span>
                            <span>3 @webLoyal.Resources.language.Resources.Weeks</span>
                        </div>
                        <div class="progress mb-2">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- card-body -->
                    <div class="card-footer p-3 pt-0">
                        <div class="mutual-badge">
                            <ul>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                            </ul>
                        </div>
                        <nav class="nav">
                            <a href="" class="nav-link"><i class="ri-eye-2-line"></i> 0</a>
                            <a href="" class="nav-link"><i class="ri-chat-1-line"></i> 0</a>
                        </nav>
                    </div><!-- card-footer -->
                </div><!-- card-task -->

                <div class="card card-task">
                    <div class="card-body p-3 pb-1">
                        <span class="badge bg-primary">@webLoyal.Resources.language.Resources.Updates</span>
                        <div class="d-flex flex-row-reverse align-items-center justify-content-between mt-2 mb-1">
                            <span class="card-date">Sep 30</span>
                            <h6 class="card-title">Ullamco laboris nisi ut aliquip</h6>
                        </div>
                        <p class="fs-xs">@webLoyal.Resources.language.Resources.AssignedBy: <a href="">Mienard Lumaad</a></p>

                        <div class="d-flex align-items-center justify-content-between fs-xs text-secondary mb-1">
                            <span><strong class="fw-medium">0%</strong>@webLoyal.Resources.language.Resources.Complete</span>
                            <span>3 @webLoyal.Resources.language.Resources.Weeks</span>
                        </div>
                        <div class="progress mb-2">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- card-body -->
                    <div class="card-footer p-3 pt-0">
                        <div class="mutual-badge">
                            <ul>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                            </ul>
                        </div>
                        <nav class="nav">
                            <a href="" class="nav-link"><i class="ri-eye-2-line"></i> 1</a>
                            <a href="" class="nav-link"><i class="ri-chat-1-line"></i> 2</a>
                        </nav>
                    </div><!-- card-footer -->
                </div><!-- card-task -->

                <div class="card card-task">
                    <div class="card-body p-3 pb-1">
                        <span class="badge bg-info">@webLoyal.Resources.language.Resources.Promotions</span>
                        <div class="d-flex flex-row-reverse align-items-center justify-content-between mt-2 mb-1">
                            <span class="card-date">Oct 05</span>
                            <h6 class="card-title">Natus error sit accusantium</h6>
                        </div>
                        <p class="fs-xs">@webLoyal.Resources.language.Resources.AssignedBy: <a href="">Mienard Lumaad</a></p>
                        <p class="fs-sm">Quis autem vel eum iure reprehenderit</p>

                        <div class="d-flex align-items-center justify-content-between fs-xs text-secondary mb-1">
                            <span><strong class="fw-medium">0%</strong>@webLoyal.Resources.language.Resources.Complete</span>
                            <span>4 @webLoyal.Resources.language.Resources.Weeks</span>
                        </div>
                        <div class="progress mb-2">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- card-body -->
                    <div class="card-footer p-3 pt-0">
                        <div class="mutual-badge">
                            <ul>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                                <li><a href="" class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></a></li>
                            </ul>
                        </div>
                        <nav class="nav">
                            <a href="" class="nav-link"><i class="ri-eye-2-line"></i> 0</a>
                            <a href="" class="nav-link"><i class="ri-chat-1-line"></i> 0</a>
                        </nav>
                    </div><!-- card-footer -->
                </div><!-- card-task -->
            </div><!-- col -->
        </section><!-- row -->
        <section id="NewClaim" class="row g-3 g-lg-4">

        </section>
    </div>
</div>
<!-- col -->
@*<div class="col d-none d-xl-block">
    <div class="sidebar-right">
        <div id="datepicker1" class="task-calendar"></div>

        <div class="mb-4 mb-xxl-5"></div>

        <div class="row g-2">
            <div class="col-6">
                <div class="task-category p-3 bg-success">
                    <h2 class="category-percent mb-4">58<span>%</span></h2>
                    <h6 class="category-title mb-1">Design</h6>
                    <span>2 tasks</span>
                </div><!-- task-category -->
            </div><!-- col -->
            <div class="col-6">
                <div class="task-category p-3 bg-info">
                    <h2 class="category-percent mb-4">36<span>%</span></h2>
                    <h6 class="category-title mb-1">Promotions</h6>
                    <span>3 tasks</span>
                </div><!-- task-category -->
            </div><!-- col -->
            <div class="col-6">
                <div class="task-category p-3 bg-primary">
                    <h2 class="category-percent mb-4">72<span>%</span></h2>
                    <h6 class="category-title mb-1">Updates</h6>
                    <span>1 task</span>
                </div><!-- task-category -->
            </div><!-- col -->
            <div class="col-6">
                <div class="task-category p-3 bg-pink">
                    <h2 class="category-percent mb-4">20<span>%</span></h2>
                    <h6 class="category-title mb-1">Marketing</h6>
                    <span>3 tasks</span>
                </div><!-- task-category -->
            </div><!-- col -->
        </div><!-- row -->

        <div class="mb-4 mb-xxl-5"></div>

        <h5 class="section-title mb-3">Team Members</h5>
        <div class="profile-mutual">
            <ul class="mutual-group mb-3">
                <li><div class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></div></li>
                <li><div class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></div></li>
                <li><div class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></div></li>
                <li><div class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></div></li>
                <li><div class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></div></li>
            </ul>
            <h6>You have 5 team members</h6>
            <p>You, Archie, Socrates, and 3 others</p>
        </div><!-- profile-mutual -->

    </div><!-- sidebar-right -->
</div><!-- col -->
</div><!-- row -->*@@*<div class="col d-none d-xl-block">
    <div class="sidebar-right">
        <div id="datepicker1" class="task-calendar"></div>

        <div class="mb-4 mb-xxl-5"></div>

        <div class="row g-2">
            <div class="col-6">
                <div class="task-category p-3 bg-success">
                    <h2 class="category-percent mb-4">58<span>%</span></h2>
                    <h6 class="category-title mb-1">Design</h6>
                    <span>2 tasks</span>
                </div><!-- task-category -->
            </div><!-- col -->
            <div class="col-6">
                <div class="task-category p-3 bg-info">
                    <h2 class="category-percent mb-4">36<span>%</span></h2>
                    <h6 class="category-title mb-1">Promotions</h6>
                    <span>3 tasks</span>
                </div><!-- task-category -->
            </div><!-- col -->
            <div class="col-6">
                <div class="task-category p-3 bg-primary">
                    <h2 class="category-percent mb-4">72<span>%</span></h2>
                    <h6 class="category-title mb-1">Updates</h6>
                    <span>1 task</span>
                </div><!-- task-category -->
            </div><!-- col -->
            <div class="col-6">
                <div class="task-category p-3 bg-pink">
                    <h2 class="category-percent mb-4">20<span>%</span></h2>
                    <h6 class="category-title mb-1">Marketing</h6>
                    <span>3 tasks</span>
                </div><!-- task-category -->
            </div><!-- col -->
        </div><!-- row -->

        <div class="mb-4 mb-xxl-5"></div>

        <h5 class="section-title mb-3">Team Members</h5>
        <div class="profile-mutual">
            <ul class="mutual-group mb-3">
                <li><div class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></div></li>
                <li><div class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></div></li>
                <li><div class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></div></li>
                <li><div class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></div></li>
                <li><div class="avatar"><img src="https://via.placeholder.com/300/4c5366/fff" alt=""></div></li>
            </ul>
            <h6>You have 5 team members</h6>
            <p>You, Archie, Socrates, and 3 others</p>
        </div><!-- profile-mutual -->

    </div><!-- sidebar-right -->
</div><!-- col -->
</div><!-- row -->*@