@model List<core.Service.RequestMonitorDetailModel>


        <div class="d-md-flex align-items-center justify-content-between mb-4">
            <div>
                <ol class="breadcrumb fs-sm mb-1">
                    <li class="breadcrumb-item"><a href="~/menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                    <li class="breadcrumb-item active"><a href="~/requestmonitor/index">Monitor de Solicitudes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Details</li>
                </ol>
                <h4 class="main-title mb-0"></h4>
            </div>

        </div>

        @foreach (var item in Model)
        {
            <div class="col-12 ">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item"><a class="nav-link active"><p class="d-block mb-1 ls--1 fs-31 fw-big text-white">Solicitud # @item.CodigoSolicitud : </p></a></li>
                </ul>
            </div>
            <br />
            <div>
                <div class="row g-2 justify-content-between">
                    <div>
                        <div>
                            <div class="col-xl-12">
                                <div class="row g-3">
                                    <div class="col-md-5 col-xl-3">
                                        <div class="card">
                                            <div class="card-header"><i class="ri-calendar-todo-line fs-20 lh-1 me-2"></i>Informacion</div>
                                            <div class="card-body">
                                                <div class="d-block fw-medium text-dark">
                                                    <div class="mb-1 row">
                                                        <label class="col-sm-4 col-form-label">Estado</label>
                                                        <div class="col-sm-8">
                                                            @switch (Model.CodigoEstadoCertificado)
                                                            {
                                                                case "02":
                                                                    <span class="badge bg-info" title="@Model.DescripcionEstadoCertificado"><i class="ri-error-warning-line"></i>&nbsp @Model.DescripcionEstadoCertificado</span>
                                                                    break;
                                                                case "05":
                                                                    <span class="badge bg-info" title="@Model.DescripcionEstadoCertificado"><i class="ri-error-warning-line"></i>&nbsp @Model.DescripcionEstadoCertificado</span>
                                                                    break;
                                                                case "08":
                                                                    <span class="badge bg-warning" title="@Model.DescripcionEstadoCertificado"><i class="ri-error-warning-line"></i>&nbsp @Model.DescripcionEstadoCertificado</span>
                                                                    break;
                                                                case "03":
                                                                    <span class="badge bg-success" title="@Model.DescripcionEstadoCertificado"><i class="ri-checkbox-circle-line"></i>&nbsp @Model.DescripcionEstadoCertificado</span>
                                                                    break;
                                                                case "07":
                                                                    <span class="badge bg-success" title="@Model.DescripcionEstadoCertificado"><i class="ri-checkbox-circle-line"></i>&nbsp @Model.DescripcionEstadoCertificado</span>
                                                                    break;
                                                                case "09":
                                                                    <span class="badge bg-danger" title="@Model.DescripcionEstadoCertificado"><i class="ri-close-circle-line"></i>&nbsp @Model.DescripcionEstadoCertificado</span>
                                                                    break;
                                                                case "01":
                                                                    <span class="badge bg-secondary"><span class="spinner-border spinner-border-sm" role="status" title="@Model.DescripcionEstadoCertificado"></span> &nbsp @Model.DescripcionEstadoCertificado</span>

                                                                    break;
                                                                case "04":
                                                                    <span class="badge bg-danger" title="@Model.DescripcionEstadoCertificado"><i class="ri-add-circle-line"></i>&nbsp @Model.DescripcionEstadoCertificado</span>
                                                                    break;
                                                                case "06":
                                                                    <span class="badge bg-danger" title="@Model.DescripcionEstadoCertificado"><i class="ri-add-circle-line"></i>&nbsp @Model.DescripcionEstadoCertificado</span>
                                                                    break;
                                                                default:
                                                                    <span class="ri-error-warning-line" title="@Model.DescripcionEstadoCertificado">&nbsp @Model.DescripcionEstadoCertificado</span>
                                                                    break;
                                                            }
                                                        </div>
                                                    </div> 
                                                    <div class="mb-1 row">
                                                        <label class="col-sm-4 col-form-label">Efectividad</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" readonly class="form-control-plaintext" value="@Model.FechaInicioSolicitada.ToString("MM/dd/yyyy")">
                                                        </div>
                                                    </div>
                                                    <div class="mb-1 row">
                                                        <label class="col-sm-4 col-form-label">Pais</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" readonly class="form-control-plaintext" value="@Model.DescripcionPais">
                                                        </div>
                                                    </div>

                                                    <div class="form-check form-switch">
                                                    <label class="col-sm-10 form-check-label" for="flexSwitchCheckCheckedDisabled">Transplante de Organos</label>
                                                    @switch (@Model.IndicadorTrasplante)
                                                    {
                                                        case 1:
                                                                <input class="col-sm-2 form-check-input" type="checkbox" role="switch" checked disabled>
                                                            break;
                                                        case 0:
                                                        <input class="col-sm-2 form-check-input" type="checkbox" role="switch" disabled>
                                                            break;
                                                    
                                                    }  
                                                    </div> 
                                                    <div class="form-check form-switch">
                                                    <label class="col-sm-10 form-check-label" for="flexSwitchCheckCheckedDisabled">Complicaciones de Maternidad</label>
                                                    @switch (@Model.IndicadorMaternidad)
                                                    {
                                                        case 1:
                                                            <input class="col-sm-2 form-check-input" type="checkbox" role="switch" checked disabled>
                                                            break;
                                                        case 0:
                                                                <input class="col-sm-2 form-check-input" type="checkbox" role="switch" disabled>
                                                            break;
                                                    
                                                    }  
                                                    </div>
                                                </div>
                                            </div><!-- card-body -->
                                        </div><!-- card -->
                                    </div><!-- col -->
                                    <div class="col-md-5 col-xl-3">
                                        <div class="card">
                                        <div class="card-header"><i class="ri-calendar-check-line fs-20 lh-1 me-2"></i> Producto</div>
                                            <div class="card-body">
                                            <div class="d-block fw-medium text-dark">
                                                <div class="mb-1 row">
                                                    <label class="col-sm-4 col-form-label">Producto</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" readonly class="form-control-plaintext" value="@Model.DescripcionProducto">
                                                    </div>
                                                </div>
                                                <div class="mb-1 row">
                                                    <label class="col-sm-4 col-form-label">Plan</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" readonly class="form-control-plaintext" value="@Model.DescripcionPlanesConsulta">
                                                    </div>
                                                </div>
                                                <div class="mb-1 row">
                                                    <label class="col-sm-4 col-form-label">Forma de Pago</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" readonly class="form-control-plaintext" value="@Model.DescripcionFormaPago">
                                                    </div>
                                                </div> 
                                                <div class="mb-1 row">
                                                    <label class="col-sm-4 col-form-label">Fecha Inicio</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" readonly class="form-control-plaintext" value="@Model.FechaInicioVigencia.ToString("MM/dd/yyyy")">
                                                    </div>
                                                </div>
                                                <div class="mb-1 row">
                                                    <label class="col-sm-4 col-form-label">Fecha Fin</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" readonly class="form-control-plaintext" value="@Model.FechaFinVigencia.ToString("MM/dd/yyyy")">
                                                    </div>
                                                </div>
                                            </div>
                                            </div><!-- card-body -->
                                        </div><!-- card -->
                                    </div><!-- col -->
                                </div>
                                <div class="col-md-5 col-xl-3">
                                    <div class="card">
                                        <div class="card-header"><i class="ri-calendar-2-line fs-20 lh-1 me-2"></i>Agente</div>
                                        <div class="card-body">
                                            <div class="d-block fw-medium text-dark">
                                                <div class="mb-1 row">
                                                    <label class="col-sm-4 col-form-label">Agente</label>
                                                    <div class="col-sm-8">
                                                        <label class="d-block mb-1 fw-medium text-dark">
                                                            <a class="form-control-plaintext" href="~/agents/detail/@Model.CodigoAgente">@Model.NombreAgente </a>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- card-body -->
                                    </div><!-- card -->
                                </div><!-- col -->
                            </div>
                        </div>    
                    </div>
                </div>

                <div class="col-4">
                    @await Component.InvokeAsync("Tracking",item.CodigoSolicitud.ToString())
                </div>
            </div>

        }