@model List<core.Service.RequestMonitorDetailModel>
        <div class="d-md-flex align-items-center justify-content-between mb-4">
            <div>
                <ol class="breadcrumb fs-sm mb-1">
                    <li class="breadcrumb-item"><a href="~/menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                    <li class="breadcrumb-item active"><a href="~/requestmonitor/index">Monitor de Solicitudes</a></li>

                </ol>
            <h4 class="main-title mb-0">Solicitudes</h4>
            </div>
            <nav class="nav nav-icon nav-icon-lg">

                <a href="javascript:void(0);" class="nav-link" title="Refrescar" onclick="showSweetAlert()"><i class="ri-refresh-line"></i></a>

            </nav>
        </div>
        <div class="row g-3">
            <div class="col-xl-12"> 
                @await Component.InvokeAsync("Product")
            
                <br />
                @await Component.InvokeAsync("Requests")
                <br />
                <div class="row g-3">
                <div class="col-xl-12">
                   <div class="card">
                       <div class="card-body">
                           <div class="table-responsive">
                            <table id="monitor" class="stripe hover display compact">
                                   <thead>
                                        <th>#</th>
                                        <th>Agente</th>
                                        <th>Estado</th>
                                        <th>Producto</th>
                                        <th>@webLoyal.Resources.language.Resources.EffectiveStartDate</th>
                                        <th>@webLoyal.Resources.language.Resources.CountryDescription</th>
                                        <th>@webLoyal.Resources.language.Resources.PlanCode</th>
                                   </thead>
                                   <tbody>
                                       @foreach (var item in Model)
                                            {
                                               <tr>
                                                    <td> <a href="../requestmonitor/detail/@item.CodigoSolicitud" class="btn btn-outline-tertiary"> @item.CodigoSolicitud</a> </td>
                                                    <td><a class="btn btn-link" href="../agents/detail/@item.CodigoAgente">@item.NombreAgente</a></td>
                                                   <td>
                                                        @switch (item.CodigoEstadoSolicitud)
                                                        {
                                                            case "01":
                                                                <span class="badge bg-info" title="@item.DescripcionEstadoSolicitud"><i class="ri-error-warning-line"></i>&nbsp @item.DescripcionEstadoSolicitud</span>
                                                                break;
                                                            case "02":
                                                                <span class="badge bg-warning" title="@item.DescripcionEstadoSolicitud"><i class="ri-error-warning-line"></i>&nbsp @item.DescripcionEstadoSolicitud</span>
                                                                break;
                                                            case "04":
                                                                <span class="badge bg-success" title="@item.DescripcionEstadoSolicitud"><i class="ri-checkbox-circle-line"></i>&nbsp @item.DescripcionEstadoSolicitud</span>
                                                                break;
                                                            case "05":
                                                                <span class="badge bg-danger" title="@item.DescripcionEstadoSolicitud"><i class="ri-close-circle-line"></i>&nbsp @item.DescripcionEstadoSolicitud</span>
                                                                break;
                                                            case "03":
                                                                <span class="badge bg-secondary"><span class="spinner-border spinner-border-sm" role="status" title="@item.DescripcionEstadoSolicitud"></span> &nbsp @item.DescripcionEstadoSolicitud</span>

                                                                break;
                                                            case "06":
                                                                <span class="badge bg-danger" title="@item.DescripcionEstadoSolicitud"><i class="ri-add-circle-line"></i>&nbsp @item.DescripcionEstadoSolicitud</span>
                                                                break;
                                                            default:
                                                                <span class="ri-error-warning-line" title="@item.DescripcionEstadoSolicitud">&nbsp @item.DescripcionEstadoSolicitud</span>
                                                                break;
                                                        }
                                                       </td>
                                                   <td>@item.DescripcionProducto</td>
                                                   <td>@item.FechaSolicitud</td>
                                                   <td>@item.DescripcionPais</td>
                                                   <td>@item.DescripcionPlan</td>
                                                </tr> 
                                            }

                                   </tbody>
                               </table>

                           </div>

                       </div>

                   </div>
                </div><!-- col -->
                </div><!-- col -->
            </div><!-- col -->
            
        </div><!-- row -->

@section Scripts{
    <script>
        initDataTable("monitor");


        document.addEventListener("DOMContentLoaded", function () {
            startInterval();
        });

        // Función para mostrar un mensaje con un temporizador de cierre automático
        function showSweetAlert() {
            Swal.fire({
                position: 'top',
                text:'Actualizando',

                timer: 2000, // 2 segundos
                timerProgressBar: true,
                showConfirmButton: false,
            }).then(() => {
                location.reload(); // Refrescar la página después de cerrar la alerta
            });
        }

        // Función para comenzar el intervalo de 1 minuto con conteo regresivo de 10 segundos
        function startInterval() {
            let countdown = 10;

            const interval = setInterval(() => {
                Swal.fire({
                    position: 'top',
                    text: 'Actualizando',

                    timer: 2000, // 2 segundos
                    timerProgressBar: true,
                    showConfirmButton: false,
                }).then(() => {
                    location.reload(); // Refrescar la página después de cerrar la alerta
                });

                countdown--;

                if (countdown < 0) {
                    clearInterval(interval);
                    showSweetAlert(); // Ejecutar la función después del conteo regresivo
                }
            }, 50000); // 1 segundo
        }
    </script>
    }
