@model core.Service.RecoverModel
@{
    Layout = "~/Views/Shared/_Login.cshtml";
}
<form id="@nameof(AuthController.ValidUser)" asp-action="@nameof(AuthController.Recover)" asp-controller="Auth" method="post" class="card card-sign">
    <div class="card-header">
        <a href="../" class="header-logo mb-5"><img src="~/assets/img/Logo-sf.png" /></></a>
        <h3 class="card-title">@webLoyal.Resources.language.Resources.Recover</h3>
        <p class="card-text">@webLoyal.Resources.language.Resources.Recovermsj</p>
    </div><!-- card-header -->
    <div class="card-body">
        <div class="mb-8">
            <label class="form-label d-flex justify-content-between">@webLoyal.Resources.language.Resources.Email
                <a href="@nameof(AuthController.Index)" method="get">@webLoyal.Resources.language.Resources.GoBack</a>
            </label>
            <input asp-for="Email" class="form-control" type="text" data-toggle="tooltip" data-placement="top" required="" placeholder="@webLoyal.Resources.language.Resources.Jhon_smith_com">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
     </div>
     <div class="card-footer">
        <div class="mb-8">
            <button class="btn btn-primary btn-sign" type="submit">@webLoyal.Resources.language.Resources.Accept</button>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        $("#ValidUser").submit(function (event) {
            event.preventDefault(); // Prevenir el comportamiento predeterminado del formulario
            if (!$(this).valid()) {
                return;
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("Recover", "Auth")",
                data: $(this).serialize(), // Serializar los datos del formulario
                success: function (result) {
                    if (result.success) {
                        Swal.fire(result.title, result.message, result.type)
                            .then(function () {
                                window.location.href = "/Auth/ValidUser";
                            });;
                    } else {
                        Swal.fire(result.title, result.message, result.type);
                    }
                },
                error: function () {
                    Swal.fire("Error", "Hubo un error al procesar la acción", "error");
                }
            });
        });

    </script>

}