@model List<core.Service.CifrasPersonasCertificadoResponseModel>
<div class="row g-3">
    @foreach (var item in Model)
    {
   

        <div class="col-12 col-xl-12">
            <div class="card card-one">
                <div class="card-body">
                    <a href="~/lives/index">

                    
                    <label class="card-title fs-sm fw-medium mb-2">Vidas</label>
                    <h3 class="card-value mb-1"><i class="ri-team-fill ri-2x"></i> @item.TotalPersonas</h3>
                    </a>
                </div><!-- card-body -->
            </div><!-- card-one -->
        </div>   


        <div class="col-12 col-xl-12">
            <div class="card card-one">

                <div class="card-body">
                <label class="card-title fs-sm fw-medium mb-2">Adultos</label>
                <div class="row g-2">
                    <div class="col"> <h4 class="card-value mb-1"><i class="ri-women-fill ri-2x"></i> @item.AdultosMujeres</h4></div>

                    <div class="col"> <h4 class="card-value mb-1"><i class="ri-men-fill ri-2x"></i> @item.AdultosHombres</h4></div>
                </div>
                   
               

                </div><!-- card-body -->
            </div><!-- card-one -->
        </div>

    <div class="col-12 col-xl-12">
        <div class="card card-one">

            <div class="card-body">
                <label class="card-title fs-sm fw-medium mb-2">Niños</label>
                <div class="row g-2">
                    <div class="col"> <h4 class="card-value mb-1"><i class="ri-women-fill ri-2x"></i> @item.MenoresMujeres</h4></div>

                    <div class="col"> <h4 class="card-value mb-1"><i class="ri-men-fill ri-2x"></i> @item.MenoresHombres</h4></div>
                </div>
            </div><!-- card-body -->
        </div><!-- card-one -->
        </div><!-- card-one -->

    }



</div>
